
.bg1 {
  z-index: -3;
  width:100%;
  position: absolute;
  top: 0px;
  left: 0px;
}   

.bg2 {
  
  z-index: -1;
  width:100%;
  /* position: absolute; */
  /* bottom: 0px; */
  left: 0px;
  /* clip: rect(0,0, 100,0); */
  /* overflow: hidden;    */
  /* max-height: 120px; */

}

.full-color{
background-color:  	#AF32FF;
position: absolute;
/* height:100vh; */
top:0; 

 right:0; 
 left:0; 
 
 
 z-index: -150; 
}


.container{
  /* margin-left: 180px; */
  position: relative;
  text-align: center;
}

.headr{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  top: 90px;
  color: white;
  position: relative;
  text-align: center;
}

div.gallery img {
  width: 80%;
  height: auto;
}

div.desc {
  text-align: center;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 30px 30px;
  float: left;
  width: 25%;
  /* margin-left: 40px; */
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


.regform{
  width: 100%;
  align-self: center;
  top: 0;
}

label {
  margin-left: 0px;
  font-size: 20px;
  font-family: Verdana, cursive;
  margin-top: 0px;
  color: white;
  width: 50%;
  margin-left: 20%;
  text-align: right;
}

input {
  display: table-cell;
  position: relative;
  /*left: 40px !important;*/
  border: groove white!important;
  border-width: 15px;
  border-radius: 2em;
  padding: 0.6em 1.4em;
  font-size: 15px;
  background-color: transparent;
  margin: 10px 0;
  width: 100%;
  outline: none;
}
