<div class="bg1" style="align-content: center;">
  <div style="z-index: 1;"><img src="../../../assets/reg/Asset%2030.png" style="width: 100%; margin-top: 20px; z-index: 1;"></div>
  <!--  <div style="z-index: -1"><img src="../../../assets/reg/Asset%2029.png" style="width: 100%; z-index: -1"></div>-->
  <div style="background-color: #AF32FF; margin-top: -33%"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
  <div style="z-index: 2"><img src="../../../assets/reg/Asset%2028.png" style="width: 100%; z-index: 2; margin-top: -15%;"></div>
  <div style="text-align: center;">
    <h1 style="font-family: Welcome; font-size: 180px; position: absolute; top: 120px; width: 100%; color: white;">Register</h1>
  </div>
  <div class="regform">
    <form [formGroup]="form" style="width: 100%">
      <table style="width: 100%">
        <tr>
          <td><label for="name">NAME:</label></td>
          <td><input id="name" placeholder="Your Name"></td>
        </tr>
        <tr>
          <td><label for="mobile">MOBILE:</label></td>
          <td><input id="mobile" placeholder="Your Mobile No."></td>
        </tr>
        <tr>
          <td><label for="currentclg">CURRENT COLLEGE:</label></td>
          <td><input id="currentclg" placeholder="Select Your College"></td>
        </tr>
        <tr>
          <td><label for="currentcity">CURRENT CITY OF STAY:</label></td>
          <td><input id="currentcity" placeholder="Your City"></td>
        </tr>
        <tr>
          <td><label for="collegepin">PIN CODE OF COLLEGE:</label></td>
          <td><input id="collegepin" placeholder="Pin Code of Your College"></td>
        </tr>
        <tr>
          <td><label for="yearofstudy">CURRENT YEAR OF STUDY:</label></td>
          <td><input id="yearofstudy" placeholder="Select Your of Study"></td>
        </tr>
        <tr>
          <td><label for="gender">GENDER:</label></td>
          <td><input id="gender" placeholder="Select Your Gender"></td>
        </tr>
      </table>
    </form>
  </div>
</div>
