<div class="main_content">
        <a style="color: white;" data-toggle="collapse" href="#1">What are the nearest railway stations and airport to reach IIT Bombay?</a>
    <br><p id="1" class="collapse" data-parent="accordion" style="font-weight: normal;" align=justify>The IIT Bombay campus is located in Powai, around 10 km from the Mumbai Domestic Airport, around 12 km from Andheri Railway Station and about 2.6 km from the Kanjurmarg railway station.
    <br>The Campus is well connected by road to each of these three major arrival points. As such, you can readily hire a taxi or an auto-rickshaw from any of these to reach the Campus.</p>
    <br>
    <a style="color: white;" data-toggle="collapse" href="#2">What about the hospital facility?</a>
    <br><p id="2" class="collapse" data-parent="accordion" style="font-weight: normal;" align=justify>In case of any emergency, please call the emergency number given on the Registration Booklet.</p>
    <br>
    <a style="color: white;" data-toggle="collapse" href="#3">Can I enter the IITB campus anytime?</a>
    <br><p id="3" class="collapse" data-parent="accordion" style="font-weight: normal;"align=justify >No, only between 7 AM and 10 PM.</p>
    <br>
    <a style="color: white;" data-toggle="collapse" href="#4">Should I carry some ID proof every time?</a>
    <br><p id="4" class="collapse" data-parent="accordion" style="font-weight: normal;" align=justify>You should carry your ID card as well as your registration booklet with wrist band all the time, As a security check is regularly done.</p>
    <br>
    <a style="color: white;" data-toggle="collapse" href="#5">How will I get to know about timings and venues for the events during Mood Indigo?</a>
    <br><p id="5" class="collapse" data-parent="accordion" style="font-weight: normal;" align=justify>You will be given a registration booklet that will have all the timings of all the events and their venues.</p>
    <br>
    <a style="color: white;" data-toggle="collapse" href="#6">How to find a way to any venue of the event?</a>
    <br><p id="6" class="collapse" data-parent="accordion" style="font-weight: normal;" align=justify>To find the location and direction of any venue you can access the “Insti app” of IIT Bombay or just google it on Maps. You will also find the map at various spots to find locations of events.</p>
    <br>
    <a style="color: white;" data-toggle="collapse" href="#7">What transport is available inside the campus?</a>
    <br><p id="7" class="collapse" data-parent="accordion" style="font-weight: normal;" align=justify>Auto-Rickshaws are available inside the campus and charge Rs. 20 for the first 1.5 km But as everywhere some event or the other activity scheduled so it is suggested to take a short walk across the campus with friends to enjoy most of it.</p>
    <br>
    <a style="color: white;" data-toggle="collapse" href="#8">What are the Facilities at Mood Indigo for the visitors?</a> 
    <br><ul id="8" class="collapse" data-parent="accordion" style="font-weight: normal;"align=justify>
        <li>Bus facilities are provided to all the accommodation holders on their arrival to IITB.</li>
        <li>Portable washroom are being installed at major locations or you can access the nearby hostel or academic building washrooms.
         </li>
         <li>Cloakroom to be set up near the central library only for concerts on all 4 nights.</li>
         <li>In case of emergency, you can approach nearby security officer or Hospitality room, SAC.</li>
         <li>For any query, you can approach nearby Assistance Van or Hospitality room, SAC.</li>
    </ul>
    <br>    
    <a style="color: white;" data-toggle="collapse" href="#9">Are there ATMs available inside?</a>
    <br><p id="9" class="collapse" data-parent="accordion" style="font-weight: normal;" align=justify>Yes, ATMs are available near 3 major spots - Gulmohar garden, Old swimming pool area, & hostel-5.</p> 
    <br>
    <a style="color: white;" data-toggle="collapse" href="#10">What all food options are available during Mood Indigo?</a>
    <br><p id="10" class="collapse" data-parent="accordion" style="font-weight: normal;" align=justify>During the day time, you can have access to two food courts - one in SAC and another in the Physics parking lot and at the time of night, you can have access to the food court in the Gymkhana region. Other food options available are Gulmohar restaurant and Hostel canteen.</p>    
    <br>
</div>
