<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/pronites/Asset%2052@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/pronites/Asset%2053@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/pronites/Asset%2052@2x.png">
    <p class="contdet">+91-8879433693</p>
    <p class="contdet">abhijeet@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/abhijeet.verma.0209" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/abhijeet-v-9b2a57134/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/pronites/Asset%2053@2x.png">
    <p class="contdet">+91-8818883923</p>
    <p class="contdet">anav@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/anav.agrawal" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/anav" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
