<ul class="main_content">
    <li>A Contingent Leader is selected from each and every college who will guide you through the accommodation process during your stay at IIT Bombay. He/She will bridge the gap between you and Mood Indigo</li>
  <li>In order to be nominated as CL for your college, you need an Official Letter on the letterhead for your college signed by the Director/Principal saying that you have been nominated as the Contingent Leader for Mood Indigo 2019. Along with this we may also need your other details including account details</li>
<li>Application form for being a CL of your college will be out soon. Please stay tuned on our FB & Instagram pages as well as our website for further information</li>
<li>In addition to this, two other people are to be appointed as the Assistant CL. All three of you must mention your MI number along with your name in the letter mentioned before</li>
  
</ul>
