<div style="overflow: hidden" class="full-color">
  <div>
    <img src="../../../assets/Events/page%20layout%20elements_events%20inner%20page/Asset%2030withbg.png" class="bg1">
    <a href="/">
      <img src="../../../assets/logos/Asset 33eventbglogo.svg" class="logo">
    </a>
  </div>
  <div>
    <div>
      <br><br><br><br><br>


      <h1 class="main_heading">Workshops & Exhibitions</h1>
      <div class="options">
        <div class="main_content" *ngFor="let inf of wne">
          <div class="rightcontent" *ngIf="inf.name == clickedButton">

            <p class="headr">{{inf.name}}</p><br>

            <div *ngFor="let item of inf.events">
              <p class="name">{{ item.name }}</p>
              <p class="desc" [innerHTML]="transform(item.description)"></p><br>
              <div *ngIf="status ==true && !regdata">
                <button (click)="wnereg(item.id)" class="team_button">Register</button><br>
              </div>
              <div align=center *ngIf="status ==true && regdata">
                  You are registered!<br>
            <table class="table">
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Phone No.</td>
                    <td>MI Number</td>
                  </tr>
                </thead>
              
                <thead>
              
                    <td>{{regdata.name}}</td>
                    <td>{{regdata.mobile_number}}</td>
                    <td>{{regdata.mi_number}}</td>
                
              </thead>
              </table>
              </div>
              <div align=center *ngIf="status ==false">
                <button (click)="sendTo()" class="team_button">Login/Sign-Up</button><br>
                After Login/Sign-Up, Come Back to Register for the Workshops & Exhibitions<br>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-group">
          <a *ngFor="let exhi of wne">
            <button class="raise" routerLinkActive="active" (click)="onClick(exhi.name,  exhi.events[0].id)"
              [ngClass]="{'clicked': clickedButton=='desc'}">{{ exhi.name }}</button>
          </a>
        <br><br><br>
      </div>

      <router-outlet></router-outlet>


      <div class="options">
        <div *ngFor="let exhi of wne" class="btn_group">
          <div *ngIf="wne">
            <div class="section">
              <div class="section__item">
                <a class="sm-link sm-link_padding-bottom sm-link3">
                  <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button"
                    (click)="onClick(exhi.name, exhi.events[0].id)">{{ exhi.name }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group" *ngFor="let inf of wne">
      <div class="detailphone" *ngIf="inf.name == clickedButton">

        <p class="headr">{{inf.name}}</p><br>

        <div *ngFor="let item of inf.events">
          <p class="name">{{ item.name }}</p>
          <p class="desc" [innerHTML]="transform(item.description)"></p>
          <div *ngIf="status ==true && !regdata">
              <button (click)="wnereg(item.id)" class="team_button">Register</button><br>
            </div>
            <div align=center *ngIf="status ==true && regdata">
                You are registered!<br>
          <table class="table">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Phone No.</td>
                  <td>MI Number</td>
                </tr>
              </thead>
            
              <thead>
            
                  <td>{{regdata.name}}</td>
                  <td>{{regdata.mobile_number}}</td>
                  <td>{{regdata.mi_number}}</td>
              
            </thead>
            </table>
        </div>
        <div align=center *ngIf="status ==false">
            <button (click)="sendTo()" class="team_button">Login/Sign-Up</button><br>
            After Login/Sign-Up, Come Back to Register for the Workshops & Exhibitions<br>

          </div>
      </div>
    </div>


  </div>


  <img src="../../../assets/Events/page%20layout%20elements_events%20outer%20page/Asset%2022lap.png" class="bg4">
</div>