
   <div style="overflow: hidden" class="full-color">
    <img src="../../assets/faq/Asset 22withbg.png" class="bg3">
    
    
    
    <div class="bg1"></div>
      <!-- <img src="../../assets/acco/Asset 26.png" class="bg2"> -->
      <div>
      <br><br><br><br><br><br><br><br>
    
    
      <h1 class="main_heading">F.A.Q.</h1>
        <div class="mobileoptions">
          <a routerLink="reach us">
            <button>Description & Rules</button>
          </a>
          <a routerLink="prizes & lyps">
            <button>Prizes & LYPs</button>
          </a>
          <a routerLink="reach us">
            <button>FAQs</button>
          </a>
          <a routerLink="reach us">
            <button>Register</button>
          </a>
          <a routerLink="reach us">
            <button>Previous Winners</button>
          </a>
        </div>
      <router-outlet></router-outlet>
    
        <div class="options">
      <div class="btn_group">
      <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
                
                    <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="reach us">REACH US</p>
                  
            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
          <div class="section">
              <div class="section__item">
                <a class="sm-link sm-link_padding-bottom sm-link3">
                    <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="prizes & lyps">PRIZES LYPS</p>
                </a>
              </div>
            </div>
          </div>
    
    
          <div class="btn_group">
              <div class="section">
                  <div class="section__item">
                    <a class="sm-link sm-link_padding-bottom sm-link3">
                        <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="reach us">FAQ</p>
                    </a>
                  </div>
                </div>
              </div>
          <div class="btn_group">
            <div class="section">
              <div class="section__item">
                <a class="sm-link sm-link_padding-bottom sm-link3">
                  <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="reach us">FOURTH</p>
                </a>
              </div>
            </div>
          </div>
          <div class="btn_group">
            <div class="section">
              <div class="section__item">
                <a class="sm-link sm-link_padding-bottom sm-link3">
                  <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="reach us">FIFTH</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      
      <!-- </div> -->
      
    </div>
    
    <img src="../../assets/acco/Asset 25lap.png" class="bg4">
    </div>
    