<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/services/Asset%2063@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/services/Asset%2061@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/services/Asset%2063@2x.png">
    <p class="contdet">+91-8871676653</p>
    <p class="contdet">kavish@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/kavish.rathod" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/kavish-rathod-83b53a151/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/services/Asset%2061@2x.png">
    <p class="contdet">+91-9102766677</p>
    <p class="contdet">ayushsahu@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/ayush.sahu.3979" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/ayush-kumar-sahu-7b038294/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/sahuayush12" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      &nbsp;
      <a href="https://www.instagram.com/awk_ayush/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
