.logo{
  width: 13%;
  height: auto;
  position: relative;
  margin-top: 3%;
  margin-left: 4%;
}

.bg1 {
  z-index: -3;
  width:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /* background-color: #B2E1FF;  */
}

.bg2 {

  z-index: -1;
  width:100%;
  /* position: absolute; */
  /* bottom: 0px; */
  left: 0px;
  /* clip: rect(0,0, 100,0); */
  /* overflow: hidden;    */
  /* max-height: 120px; */

}

.full-color{
  background-color:  	#FF9339 !important;
  position: absolute;
  /* height:100vh; */
  top:0;

  right:0;
  left:0;


  z-index: -150;
}


.container{
  /* margin-left: 180px; */
  position: relative;
  text-align: center;
}
.containeradi{
  /* margin-left: 180px; */
  position: relative;
  left: 25%;
  text-align: center;
}


.headr{
  z-index: -1;
  margin-top: -10%;
  font-family: Welcome;
  font-size: 175px;
  color: white;
  position: relative;
  text-align: center;
}

div.gallery img {
  width: 64%;
  height: auto;
}

div.desc {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 122%;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px 5px;
  float: left;
  width: 33%;
  /* margin-left: 40px; */
}
.responsiveadi {
  padding: 30px 30px;
  float: left;
  width: 25%;
  /* margin-left: 40px; */
}


@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  .responsiveadi {
    width: 100%;
  }
  .containeradi {
    position: relative;
    left: 0;
  }
}

.gallery img:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 600px){
  .headr{
    font-size: 100px;
    line-height: 136px;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
