
<div style="overflow: hidden" class="full-color">
  <div>
  <img src="../../../assets/Events/page%20layout%20elements_events%20inner%20page/Asset%2030withbg.png" class="bg1">
<a routerLink="/">
  <img src="../../../assets/logos/Asset 33eventbglogo.svg" class="logo">  
</a>
</div>
  <div>

    <br><br>

    <p style="margin-bottom: 0px" class="headr">Events</p>

    <br><br>
    <div style="margin-top: -100px" class="container">
      <div class="responsive">
        <div class="gallery">
          <a routerLink="detail">
            <img src="../../../assets/Events/home/Asset%2032.png" width="600" height="400">
          </a>
          <div class="desc"><b>INFORMALS</b></div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a routerLink="detail">
            <img src="../../../assets/Events/home/Asset%2033.png" width="600" height="400">
          </a>
          <div class="desc"><b>PRONITES</b></div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a routerLink="detail">
            <img src="../../../assets/Events/home/Asset%2034.png" width="600" height="400">
          </a>
          <div class="desc"><b>PROSHOWS</b></div>
        </div>
      </div>
    </div>
    <div class="containeradi">

      <div class="responsiveadi">
        <div class="gallery">
          <a routerLink="detail">
            <img src="../../../assets/Events/home/Asset%2035.png" width="600" height="400">
          </a>
          <div class="desc"><b>PRE-MI</b></div>
        </div>
      </div>

      <div class="responsiveadi">
        <div class="gallery">
          <a routerLink="detail">
            <img src="../../../assets/Events/home/Asset%2036.png" width="600" height="400">
          </a>
          <div class="desc"><b>WORKSHOPS & EXHIBITIONS</b></div>
        </div>
      </div>
    </div>

  </div>
  <img src="../../../assets/Events/page%20layout%20elements_events%20outer%20page/Asset%2022lap.png" class="bg2">

</div>
