
<div style="overflow: hidden" class="full-color">
  <img src="../../../assets/Events/Asset 31withbg.png" class="bg1">
  
  <div>
  
    <br>
    <p style="margin-bottom: 0px" class="headr">Events</p>
  
    <br><br>
  <div style="margin-top: -100px" class="container">
    <div class="responsive1">
      <div class="gallery">
        <a routerLink="Informals">
          <img src="../../assets/Events/informals.png" width="600" height="400">
        </a>
        <div class="desc"><b>INFORMALS</b></div>
      </div>
    </div>
  
    <div class="responsive1">
      <div class="gallery">
        <a routerLink="Pronites">
          <img src="../../assets/Events/pronites.png" width="600" height="400">
        </a>
        <div class="desc"><b>PRONITES</b></div>
      </div>
    </div>
  
    <div class="responsive1">
      <div class="gallery">
        <a routerLink="Proshows">
          <img src="../../assets/Events/proshows.png" width="600" height="400">
        </a>
        <div class="desc"><b>PROSHOWS</b></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="responsive2">
      <div class="gallery">
        <a routerLink="Pre-Mi">
          <img style="width: 50%" src="../../assets/Events/premi.png" width="600" height="400">
        </a>
        <div class="desc"><b>PRE-MI EVENTS</b></div>
      </div>
  
  </div>
  
  
  
    <div class="responsive2">
      <div class="gallery">
        <a routerLink="Workshops & Exhibitions">
          <img style="width: 50%" src="../../assets/Events/exhibitswork.png" width="600" height="400">
        </a>
        <div class="desc"><b>WORKSHOPS & EXHIBITIONS</b></div>
      </div>
    </div>
  
    </div>
  
  </div>
  <img src="../../../assets/Events/Asset 1.png" class="bg2">
  
  </div>
  