
<div style="overflow: hidden" class="full-color">
  <img src="../../../assets/Events/page%20layout%20elements_events%20inner%20page/Asset%2030withbg.png" class="bg1">

  <div>

    <br><br>

    <p style="margin-bottom: 0px" class="headr">Events</p>

    <br><br>
    <div style="margin-top: -100px" class="container">
      <div class="responsive">
        <div class="gallery">
          <a routerLink="Dance">
            <img src="../../../assets/compi/genre/dance.png" width="600" height="400">
          </a>
          <div class="desc"><b>DANCE</b></div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a routerLink="Music">
            <img src="../../assets/compi/genre/music.png" width="600" height="400">
          </a>
          <div class="desc"><b>MUSIC</b></div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a routerLink="Dramatics">
            <img src="../../assets/compi/genre/dram.png" width="600" height="400">
          </a>
          <div class="desc"><b>DRAMATICS</b></div>
        </div>
      </div>
    </div>
    <div class="containeradi">

      <div class="responsiveadi">
        <div class="gallery">
          <a routerLink="Literary Arts">
            <img src="../../assets/compi/genre/literary.png" width="600" height="400">
          </a>
          <div class="desc"><b>LITERARY ARTS</b></div>
        </div>
      </div>

      <div class="responsiveadi">
        <div class="gallery">
          <a routerLink="Lifestyle">
            <img src="../../assets/compi/genre/lifestyle.png" width="600" height="400">
          </a>
          <div class="desc"><b>LIFESTYLE</b></div>
        </div>
      </div>
    </div>

  </div>
  <img src="../../../assets/Events/page%20layout%20elements_events%20outer%20page/Asset%2022lap.png" class="bg2">

</div>
