<div *ngFor="let category of competitions_categories">
  <div style="padding: 3%;" class="btn-group" *ngIf="category.name == current_competition_category">
      <div *ngFor="let event of category.events">
          <div *ngIf="event.name == current_event">
    
            <div style="padding: 6%; font-size: 2.5em; font-variant: small-caps; font-weight:bold; font-family: 'Courier New', Courier, monospace">Queries</div><br>
            <div style="padding: 6%;" [innerHTML]="event.queries"></div><br>
            
    
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br><br>
              <br>
              <br>
              <br>
              <br>
              <br>
    
    
          </div>
      </div>
  </div>
</div>
