<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/hospi/Asset%2050@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/hospi/Asset%2063@2xx.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/hospi/Asset%2050@2x.png">
    <p class="contdet">+91-9560622901</p>
    <p class="contdet">suchit@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/suchit.sharma.5099" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/suchit-sharma-27718316b/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/hospi/Asset%2063@2xx.png">
    <p class="contdet">+91-9131606808</p>
    <p class="contdet">prateek@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/prateek5698" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/prateekydv5698/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
