<div *ngFor="let category of competitions_categories">
  <div *ngIf="category.name == current_competition_category">
      <div *ngFor="let event of category.events">
          <div *ngIf="event.name == current_event">
              <!-- {{event.maxparticipants}} -->
    
            <div align=center *ngIf="status ==true && is_leader_names == undefined && my_team_names ==undefined">
                <button (click)="create_team(eventid)" class="team_button">Create Team</button><br>
                Only Team Leader should create the team<br>
                Team Leader can then add the Team Members<br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              
          </div>
          <div align=center *ngIf="status ==false">
              <button (click)="sendTo()" class="team_button">Register</button><br>
              Please register first!!<br>
            
        </div>
          <div class='cntr'>
          <div style="align-content: flex-end">
              <div class='leader' *ngIf="leader_names">
                  <b>Leader:</b> {{leader_names.name}}
                  </div>
                  <br>
        <div *ngIf="is_leader_names">
          <table  class="table">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Phone No.</td>
                  <td></td>
                </tr>
              </thead>
              
              <thead>
            
                  <td>{{leader_names.name}}</td>
                  <td>{{leader_names.mobile_number}}</td>
                  <td>Team Leader</td>
              
              </thead>
              <tbody *ngFor="let user of is_leader_names">
                <tr>
                  <td>{{user.name}}</td>
                  <td>{{user.mobile_number}}</td>
                  <td>
                    <button class=button (click)="exit_team(user.mobile_number,eventid)" type="button">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <div *ngIf="my_team_names">
            <table class="table">
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Phone No.</td>
                    <td>Status</td>
                  </tr>
                </thead>
              
                <thead>
              
                    <td>{{leader_names.name}}</td>
                    <td>{{leader_names.mobile_number}}</td>
                    <td>Team Leader</td>
                
              </thead>
                <tbody *ngFor="let user of my_team_names">
                    <tr>
                      <td>{{user.name}}</td>
                      <td>{{user.mobile_number}}</td>
                      <td>Member</td>
                    </tr>
                  </tbody>

              </table>
              -You are registered!<br>
              -Team Limit: {{event.maxparticipants}}<br>
              -Team Leader can add Team Members only when the team members have made their MI numbers<br>
              -No other Team Member should register themselves as the Team Leader<br>
              -Contact Kanav(7700903058) or Atharva(7021760392) in case of any issues   
            </div>
          </div>
          <div *ngIf="is_leader_names">
              <div *ngIf="is_leader_names?.length < event.maxparticipants-1 && my_team_names?.length < event.maxparticipants-1" class="input-group">
                  <input #myInput  placeholder="Registered Mobile No."  type="text" class="form-control">
                  <span class="input-group-btn">
                      <button class=btn2 (click)="add_member(myInput.value,eventid)" type="button">Add member</button>
                  </span>
              </div>
              <br>
              -You are registered!<br>
              -Team Limit: {{event.maxparticipants}}<br>
              -Team Leader can add Team Members only when the team members have made their MI numbers<br>
              -No other Team Member should register themselves as the Team Leader<br>
              -Contact Kanav(7700903058) or Atharva(7021760392) in case of any issues   
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>   
            </div>
        </div>
         <br>
        </div>
            
    
            
    
    
          </div>
  </div>
</div>