<ul class="main_content">
  <li>Everybody willing to avail accommodation in Mood Indigo must register to get their MI numbers. To get your MI number you can register here</li>
  <li>All participants have to contact their Contingent Leader (hereafter referred to as CL) of their college; the details of whom will be made available once the Contingent Leaders are decided</li>
  <li>The registration of Contingent Leader will start soon. Stay tuned for the updates (The registration of contingent leader has started. You can register at CL portal by clicking here)</li>
  <li>The CLs will be given access to the CL interface where they will be allowed to choose students from their college to avail accommodation during Mood Indigo. The last date for finalising the contingent would be in November and the exact date will be conveyed later</li>
  <li>CLs will have to finalise the contingent before the given deadline and within the alloted contingent limit</li>
</ul>
