

.bg1 {
    z-index: -3;
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #B2E1FF; 
}   

.bg2 {
    
    z-index: -1;
    width:100%;
    /* position: absolute; */
    /* bottom: 0px; */
    left: 0px;
    /* clip: rect(0,0, 100,0); */
    /* overflow: hidden;    */
    /* max-height: 120px; */

}

.full-color{
  background-color:  	#32B4FF !important;
  position: absolute;
  /* height:100vh; */
  top:0; 
  
   right:0; 
   left:0; 
   
   
   z-index: -150; 
}

.headr{
    font-family: Welcome;
    font-size: 200px;
    top: 90px;
    color: white;
    position: relative;
    text-align: center;
}

.btn-group{
    
    width: 100%;
    position: absolute;
    text-align: center;
    left:0px;

}


.btn-group button {
    background-color: transparent;
    border: 0px;
    color: black;
    cursor: pointer;
    width:auto;
    font-size: 200%;
    padding: 0.3em 01em;
    border-radius: 1em;
    margin-left: 0.5%;
    margin-right:0.5%;
    font-weight: 500;
    outline: none !important;
}

/*
.btn-group button:hover {
    color:rgba(233, 221, 56, 0.842);
    background-color: black;
    outline: none !important;
}


.btn-group button:focus {
    color:rgba(233, 221, 56, 0.842) !important;
    background-color: black !important;
    outline: none !important;
}


.clicked {
    color:rgba(233, 221, 56, 0.842) !important;
    background-color: black !important;
    outline: none !important;
}
*/
.description{
    position: absolute;
    top: 390px;
    text-align:left;
    left: 310px;
    right: 310px;
    font-family: Verdana;
    font-size: 14px;
    z-index: 100;
    /* overflow-y: auto; */
    
}

/*
.image1 {
    width:15em;
    bottom: 117px;
    position: absolute;
    left: 40px;
    overflow: hidden!important ;
}

.image2 {
    width:13em;
    top: 125px;
    position: absolute;
    right: 40px;
    overflow: hidden!important ;
} */