
<div style="overflow: hidden" class="full-color">
  <img src="../../../assets/compi/compi3.png" class="bg1">

<div *ngFor="let category of competitions_categories">
  <div *ngIf="category.name == current_competition_category">
    <div *ngFor="let event of category.events">
      <div *ngIf="event.name == current_event">

        <p class="headr">{{event.name}}</p>

    
        <div class="btn-group" >
          
            <a >
              <button routerLink="comp-desc" class="raise" routerLinkActive="active" (click)="onClick('desc')" [ngClass]="{'clicked': clickedButton=='desc'}">Description & Rules</button>
            </a>
            <a >
              <button routerLink="comp-prizes" class="raise" (click)="onClick('prizes')" routerLinkActive="active" [ngClass]="{'clicked': clickedButton=='prizes'}">Prizes & LYPs</button>
            </a>
            <a >
              <button routerLink="comp-faq" routerLinkActive="active" class="raise" (click)="onClick('faq')" [ngClass]="{'clicked': clickedButton=='faq'}">FAQs</button>
            </a>
            <a >
              <button routerLink="comp-reg" routerLinkActive="active" class="raise" (click)="onClick('reg')" [ngClass]="{'clicked': clickedButton=='reg'}">Register</button>
            </a>
            <a >
              <button routerLink="comp-prev-winner" routerLinkActive="active" class="raise" (click)="onClick('winner')" [ngClass]="{'clicked': clickedButton=='winner'}">Previous Winners</button>
            </a>
        </div>

        <div class="description">
          <router-outlet></router-outlet>
        </div>

       

        


      </div>
    </div>
  </div>
  

</div>
<img src="../../../assets/compi/Asset 13Selectedlap.png" class="bg2">
</div>
