<div style="overflow: hidden" class="full-color">
  <div><img src="../../../assets/compi/Asset 26withbg.png" class="bg1">
<img src="../../../assets/logos/Asset 49compibglogo.svg" class="logo">
</div>


<div>

  
  <br><br>

  <p class="headr">{{current_competition_category}}</p>

  <br><br>

<div style="margin-top: -100px" *ngFor="let category of competitions_categories">
  <div *ngIf="category.name == current_competition_category">
      <div class="container">
          <div *ngFor="let event of category.events, let i=index" class="button"  routerLink="{{event.name}}">
              <!-- <b> {{event.name}} </b> <br>
              {{event.subtitle}} -->
            <div  class="responsive">
              <div style="margin-bottom: 50px;" class="gallery">
                <div>
                  <img *ngIf="i%3==0" src='../../../assets/compi/Asset 18.png'  width="600" height="400">
                  <img *ngIf="i%3==1" src='../../../assets/compi/Asset 19.png'  width="600" height="400">
                  <img *ngIf="i%3==2" src='../../../assets/compi/Asset 20.png'  width="600" height="400">
                <div style="font-family: 'Poppins', sans-serif; margin-top: -35%">
                  <span class="desc"><b>{{event.name}}</b></span><br>
                  <span class="subdesc">{{event.subtitle}}</span>
                </div>
                </div>  
                
              </div>      
            </div>  
   
      
          </div>
    </div>
  </div>
</div>

</div>
<div class="crop">
<img style="margin-top: 40px" src="../../../assets/compi/Asset 13Selectedlap.png" class="bg2">
</div>




</div>  

