.background {
    height: 50%;
    width: 50%;
    /* width: 100%;  */
    top: 0; left: 0; 
    background-size: cover;
    position: fixed;
}

.bg1 {
  /* background-color: #32B4FF ; */
    z-index: -3;
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
}   
 

.bg2 {
  z-index: -1;
  width:100%;
  /* position: absolute; */
  /* bottom: 0px; */
  left: 0px;
  /* clip: rect(0,0, 100,0); */
  /* overflow: hidden;    */
  /* max-height: 120px; */

}
.full-color{
  background-color:  	#32B4FF ;
  position: absolute;
  /* height:100vh; */
  top:0; 
  
   right:0; 
   left:0; 
   
   
   z-index: -150; 
}


.container{
  /* margin-left: 180px; */
  position: relative;
  text-align: center;
}
.headr{
  margin-top: 5%;
  font-family: Welcome;
  font-size: 200px;
  color: white;
  position: relative;
  text-align: center;
}
  div.gallery img {
    width: 80%;
    height: auto;
  }
  
  .desc {
    padding: 25px;
    text-align: center;
    font-size: 25px;
  }
  

    /* div.subdesc {
      text-align: center;
      font-size: 140%;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      position: relative;
      top: -170px;
    } */
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 30px 30px;
    float: left;
    width: 33%;
    /* margin-left: 40px; */
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
