<div class="background">
  <img src="../../assets/contact/Asset 33formbox.png" class="bg2">
  <img src="../../assets/contact/Asset 31formbox.png" class="bg3">
  <img src="../../assets/contact/Asset 32formbox.png" class="bg4">

<div class="heading">
  <h1 style="font-family: Welcome;">Contact us</h1>
</div>

<div class="deps">
  <a href="#">COMPETITIONS & LYP</a><br>
  <a href="#">CREATIVES</a><br>  
  <a href="#">FOOD & BEVERAGES</a><br>
  <a href="#">HORIZONS</a><br>
  <a href="#">INFORMALS & WORKSHOPS</a><br>
  <a href="#">MARKETING</a><br>
  <a href="#">MEDIA & PUBLICITY</a><br>
  <a href="#">PRONITES</a><br>
  <a href="#">LOGISTICS & OPERATIONS</a><br>
</div>
</div>