<div style="overflow: hidden" class="full-color">
  <div>
  <img src="../../assets/contact/Asset 36withbg.png" class="bg3">
  <img src="../../assets/logos/Asset 36contactbglogo.svg" class="logo">
</div>


  <div class="bg1"></div>
  <!-- <img src="../../assets/acco/Asset 26.png" class="bg2"> -->
  <div>
    <br><br><br><br><br><br><br><br>


    <h1 class="main_heading">Contact Us</h1>
    <div class="mobileoptions">
      <a routerLink="competitions & lyp">
        <button>COMPETITIONS & LYP</button>
      </a>
      <a routerLink="creatives">
        <button>CREATIVES</button>
      </a>
      <a routerLink="food & beverages">
        <button>FOOD & BEVERAGES</button>
      </a>
      <a routerLink="horizons">
        <button>HORIZONS</button>
      </a>
      <a routerLink="informals & workshops">
        <button>INFORMALS & WORKSHOPS</button>
      </a>
      <a routerLink="marketing">
        <button>MARKETING</button>
      </a>
      <a routerLink="media & publicity">
        <button>MEDIA & PUBLICITY</button>
      </a>
      <a routerLink="pronites">
        <button>PRONITES</button>
      </a>
      <a routerLink="logistics & operations">
        <button>LOGISTICS & OPERATIONS</button>
      </a>
      <a routerLink="hospitality">
        <button>HOSPITALITY, ASSISTANCE & PR</button>
      </a>
      <a routerLink="oc">
        <button>OVERALL COORDINATORS</button>
      </a>
    </div>

    <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <div class="options">
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">

              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="competitions & lyp">COMPETITIONS & LYP</p>

            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="creatives">CREATIVES</p>
            </a>
          </div>
        </div>
      </div>


      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="food & beverages">FOOD & BEVERAGES</p>
            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="horizons">HORIZONS</p>
            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="informals & workshops">INFORMALS & WORKSHOPS</p>
            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">

              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="marketing">MARKETING</p>

            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">

              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="media & publicity">MEDIA & PUBLICITY</p>

            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">

              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="pronites">PRONITES</p>

            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">

              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="logistics & operations">LOGISTICS & OPERATIONS</p>

            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">

              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="hospitality">HOSPITALITY, ASSISTANCE & PR</p>

            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">

              <p style="margin-bottom: 0;" routerLinkActive="active_button" routerLink="oc">OVERALL COORDINATORS</p>

            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->

  </div>
  <div class="bot1">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div class="bot2">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <img src="../../assets/contact/Asset 32formboxlap.png" class="bg4">
</div>
