<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/informals/Asset%2054@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/informals/Asset%2055@2x.png">-->
<!--</div>-->
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/informals/Asset%2054@2x.png">
    <p class="contdet">+91-9826227771</p>
    <p class="contdet">janhvi@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/informals/Asset%2055@2x.png">
    <p class="contdet">+91-9357715615</p>
    <p class="contdet">archit@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
</div>
