<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/informals/Asset%2054@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/informals/Asset%2055@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/informals/Asset%2054@2x.png">
    <p class="contdet">+91-9826227771</p>
    <p class="contdet">janhvi@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/janhvi.nandwani" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/janhvi-nandwani-68a4a0157" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/janhvi_nandwani" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/informals/Asset%2055@2x.png">
    <p class="contdet">+91-9357715615</p>
    <p class="contdet">archit@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/archit.nanda.144" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/archit-nanda-864378a5/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/Architnanda22" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</div>
