<div style="overflow: hidden"  class="full-color">
    <div>
    <img src="../../../assets/Events/page%20layout%20elements_events%20inner%20page/Asset%2030withbg.png" class="bg1">
    <a href="/">
      <img src="../../../assets/logos/Asset 33eventbglogo.svg" class="logo">  
    </a>
    </div>
    <div>
      <!-- <div class="bg1"></div> -->
      <!-- <img src="../../assets/acco/Asset 26.png" class="bg2"> -->
      <div>
      <br><br><br><br><br>
    
    
      <h1 class="main_heading">Pre MI</h1>

      <div class="options">
          <div class="main_content" *ngFor="let inf of premi">
            <div class="rightcontent" *ngIf="inf.name == clickedButton">
        
              <p class="headr">{{inf.name}}</p><br>
        
                <div *ngFor="let item of inf.events">
                  <p class="name">{{ item.name }}</p>
                  <p class="desc" [innerHTML]="transform(item.description)"></p>
                </div>
                </div>
            </div>
    </div>      
    
    
    <div class="btn-group">
      <div *ngFor="let event of premi">
            <div *ngIf="premi">
              <a>
                <button class="raise" routerLinkActive="active" (click)="onClick(event.name)" [ngClass]="{'clicked': clickedButton=='desc'}">{{ event.name }}</button>
              </a>
            </div>
          </div>
          <!-- <a>
            <button routerLink="prizes & lyps" class="raise" routerLinkActive="active">Accomodation & CL</button>
          </a>
          <a>
            <button routerLink="faq" class="raise" routerLinkActive="active">Campus Facilities</button>
          </a>
          <a>
            <button routerLink="register" class="raise" routerLinkActive="active">Concert & Pass</button>
          </a>
          <a>
            <button routerLink="previous winners" class="raise" routerLinkActive="active">Competitions</button>
          </a>
          <a>
            <button routerLink="sixth" class="raise" routerLinkActive="active">Multicities</button>
          </a> -->
          <br><br><br>
        </div>
        
        <router-outlet></router-outlet>
        
        
        <div class="options">
          <div *ngFor="let event of premi" class="btn_group">
            <div *ngIf="premi">
              <div class="section">
                <div class="section__item">
                  <a class="sm-link sm-link_padding-bottom sm-link3">
                    
                    <p style="margin-bottom: 0; outline: 0;" (click)="onClick(event.name)"  routerLinkActive="active_button" >{{ event.name }}</p>
                  
                  </a>
                </div>
              </div>
      </div>
    </div>
      <!-- <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
              <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="prizes & lyps">Accomodation & CL</p>
            </a>
          </div>
        </div>
      </div>
      
      
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
                    <a class="sm-link sm-link_padding-bottom sm-link3">
                      <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="faq">Campus Facilities</p>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="btn_group">
                <div class="section">
                  <div class="section__item">
                    <a class="sm-link sm-link_padding-bottom sm-link3">
                      <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="register">Concert & Pass</p>
                        </a>
                      </div>
                    </div>
                  </div>    
                  <div class="btn_group">
                    <div class="section">
              <div class="section__item">
                <a class="sm-link sm-link_padding-bottom sm-link3">
                  <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="previous winners">Competitions</p>
                </a>
              </div>
            </div>
          </div>
          <div class="btn_group">
            <div class="section">
              <div class="section__item">
                <a class="sm-link sm-link_padding-bottom sm-link3">
                  <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="sixth">Multicities</p>
                </a>
              </div>
            </div>
          </div> -->
        </div>
        
        <!-- </div> -->
      
      </div>
      
      <!-- <img src="../../assets/faq/Asset 23.svg" class="bg4">
      </div> -->
      
      <div class="btn-group" *ngFor="let inf of premi">
          <div class="detailphone" *ngIf="inf.name == clickedButton">
      
            <p class="headr">{{inf.name}}</p><br>
      
              <div *ngFor="let item of inf.events">
                <p class="name">{{ item.name }}</p>
                <p class="desc" [innerHTML]="transform(item.description)"></p>
              </div>
              </div>
          </div>
    
    
    </div>
      
      <img src="../../../assets/Events/page%20layout%20elements_events%20outer%20page/Asset%2022lap.png" class="bg4">
    </div>
    