<div class="main_content" id="accordion">

        <a style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#one">What are Multicity Eliminations?</a> 
    <br><p id="one" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Multicity Eliminations are elimination rounds for certain competitions conducted in various cities across India. The winners of the multicity eliminations get direct entry to the higher rounds at Mood Indigo.</p> 
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#two">When and where are they taking place this year?</a>
    <br><p id="two" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>This year, multicity eliminations are scheduled to take place in 10+ cities across India. Visit <a data-target="https://multicity.moodi.org" target="_blank">www.multicity.moodi.org</a> for more details. The detailed schedule will be notified to the participants.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#three">There is no Multicity in my city. How can I participate? What about eliminations of other competitions?</a>
    <br><p id="three" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Eliminations will either be conducted online or during Mood Indigo. Visit <a data-target="https://moodi.org/competitions" target="_blank">www.moodi.org/competitions</a> for details to individual competitions.</p>
    <br>  
    <a style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#four">Who can participate in these competitions?</a>
    <br><p id="four" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Any college student can take part in these competitions. There is no registration fee for participation.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#five">Are on-spot registrations allowed?</a>
    <br><p id="five" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>It is advised that you register in advance to confirm your slot as there are minimum slots available.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#six">What is Multicity Championship?</a>
    <br><p id="six" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify> 1 college team from every city shall be crowned ‘Multicity Champion’ based on level of their performances.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" data-target="#seven">Can I participate in these competitions directly during Mood Indigo?</a>
    <br><p id="seven" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify> If there is a Multicity happening in your city, it is advised that you participate in the Multicity eliminations itself. Getting a slot on-ground for these cities will be very difficult.</p>
    <br>   
    </div>
