<div class="main_content">

    What are Multicity Eliminations? 
    <br><p style="font-weight: normal;" align=justify>Multicity Eliminations are elimination rounds for certain competitions conducted in various cities across India. The winners of the multicity eliminations get direct entry to the higher rounds at Mood Indigo.</p> 
    <br>
    When and where are they taking place this year?
    <br><p style="font-weight: normal;" align=justify>This year, multicity eliminations are scheduled to take place in 10+ cities across India. Visit <a href="https://multicity.moodi.org" target="_blank">www.multicity.moodi.org</a> for more details. The detailed schedule will be notified to the participants.</p>
    <br>
    There is no Multicity in my city. How can I participate? What about eliminations of other competitions?
    <br><p style="font-weight: normal;" align=justify>Eliminations will either be conducted online or during Mood Indigo. Visit <a href="https://moodi.org/competitions" target="_blank">www.moodi.org/competitions</a> for details to individual competitions.</p>
    <br>  
    Who can participate in these competitions?
    <br><p style="font-weight: normal;" align=justify>Any college student can take part in these competitions. There is no registration fee for participation.</p>
    <br>
    Are on-spot registrations allowed?
    <br><p style="font-weight: normal;" align=justify>It is advised that you register in advance to confirm your slot as there are minimum slots available.</p>
    <br>
    What is Multicity Championship?
    <br><p style="font-weight: normal;" align=justify> 1 college team from every city shall be crowned ‘Multicity Champion’ based on level of their performances.</p>
    <br>
    Can I participate in these competitions directly during Mood Indigo?
    <br><p style="font-weight: normal;" align=justify> If there is a Multicity happening in your city, it is advised that you participate in the Multicity eliminations itself. Getting a slot on-ground for these cities will be very difficult.</p>
    <br>   
    </div>
