
<div *ngFor="let category of competitions_categories">
  <div class="btn-group" *ngIf="category.name == current_competition_category">
      <div *ngFor="let event of category.events">
          <div *ngIf="event.name == current_event">
    
              <div style="padding: 3%; padding-bottom: 0;" [innerHTML]="event.description"></div><br>
              <div style="padding: 3%; padding-top: 0; padding-bottom: 0; font-size: 2.5em; font-variant: small-caps; font-weight:bold; font-family: 'Courier New', Courier, monospace">Rules</div><br>
              <div style="padding: 3%; padding-top: 0;" [innerHTML]="event.rules"></div>
            
    
            
    
    
          </div>
      </div>
  </div>
</div>
