<div class="main_content" align=center *ngIf="status ==false">
  <a href="register"><button   class="team_button" >Login/Sign-Up</button></a><br>
  After sign-up/log-in, return to this page to apply for Accommodation<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<div class="main_content" *ngIf="status && uid3">
    <!-- <p align=center> -->
        <h4>CL Details:</h4>
        <table  class="table">
            <thead>
              <tr>
                <td style="font-size:120%; font-weight:bold;">Name</td>
                <td style="font-size:120%; font-weight:bold;">Phone Number</td>
                <td style="font-size:120%; font-weight:bold;">MI Number</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{uid3.name}}</td>
                <td>{{uid3.mobile_number}}</td>
                <td>{{uid3.mi_number}}</td>
          
              </tr>
            </tbody>
          </table>
      
        Kindly get in touch with your CL, if your application has not been verified by the CL. You can find the contact details under "Know Your CL" tab. You have to ask your CL to get your name verified on his portal.<br>
        Kindly note: Verification doesn't mean your accommodation is final. After Verification, you will be alloted Accommodation (subject to availability) and you have to pay at amount at the portal. Dates for these will be informed to CLs.         
          <div align=center *ngFor="let us of members_added">
            <div *ngIf="us.removed==false && us.user.mi_number==mi_id">
                    <table  class="table">
                        <thead>
                          <tr>
                            <td style="font-size:120%; font-weight:bold;">Name</td>
                            <td style="font-size:120%; font-weight:bold;">Phone Number</td>
                            <td style="font-size:120%; font-weight:bold;">MI Number</td>
                            <!-- <td style="font-size:120%; font-weight:bold;">Acco Status</td> -->
                            <td></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{us.user.name}}</td>
                            <td>{{us.user.mobile_number}}</td>
                            <td>{{us.user.mi_number}}</td>
                            <!-- <td><span *ngIf="us.addedbycl">Approved</span><span *ngIf="!us.addedbycl">Approval Pending</span></td> -->
                      
                          </tr>
                        </tbody>
                      </table>
                      <div class="container">
                        <ul class="timeline">
                          <li [ngClass]="{'active': !us.removed || us.addedbycl || us.approved || us.approvedbymi}">Applied</li>

                          <li [ngClass]="{'active': !us.removed && us.addedbycl || us.approved || us.approvedbymi}">
                            <span *ngIf="(!us.removed && us.addedbycl || us.approved || us.approvedbymi)">Verified</span>
                            <span *ngIf="!(!us.removed && us.addedbycl || us.approved || us.approvedbymi)">Verification Pending</span>
                          </li>
                          <li [ngClass]="{'active': !us.removed && (us.approved || us.approvedbymi) }">
                              <span *ngIf="(!us.removed && (us.approved || us.approvedbymi))">Confirmed</span>
                              <span *ngIf="!(!us.removed && (us.approved || us.approvedbymi))">Confirmation Pending</span>
                          </li>
                          <li [ngClass]="{'active': !us.removed && (us.approved || us.approvedbymi) && us.has_paid }">
                              <span *ngIf="(!us.removed && (us.approved || us.approvedbymi) && us.has_paid)">Paid</span> 
                              <span *ngIf="!(!us.removed && (us.approved || us.approvedbymi) && us.has_paid)">Payment Pending</span>
                          </li>
                      <br><br>
                        </ul>
                      </div>
                    <!-- <button (click)="exit(us.user.mi_number)" class="team_button">DEREGISTER</button><br> -->
                    
                  </div>
            </div>
  
</div>
        
        
        
        
<div class="main_content" *ngIf="status && !uid3">
    <h3>Registration for Accommodation</h3>
    <form autocomplete="off" name="myForm">
        Select your college from the drop-down, If your college is not in the list, then your college doesn't have a CL.<br>
        If your college doesn't have a CL, you first need to register as the CL at <a href="https://ccp.moodi.org/cl">ccp.moodi.org/cl</a> to apply for accommodation<br>
       
        <h3>Current College:</h3>
        <table>
    <tr>
        <td><label for="currentclg"></label></td><br>
        <td (blur)="showDropDownClg = false"><input autocomplete="off"tyle="margin-bottom: 0px" name="people" [(ngModel)]="college" id="currentclg" (click)="toggleDropDownClg()" (clickOutside)="closeDropDownClg()" (focus)="toggleDropDownClg()" placeholder="Select Your College">
          <div class="dropdown" *ngIf="showDropDownClg">
            <div (click)="selectValueClg(person)" class="dropdown-option" *ngFor="let person of people | collegelistfilter:college" (blur)="showDropDownClg = false">
              {{person}}
            </div>
          </div>
        </td>
      </tr>
      </table>
      </form>
      <div  align=center *ngIf="pop" id="cl_data">
          <!-- <h4>Please contact your CL: </h4>
          Name: {{data.name}}<br>
          Contact No: {{data.mobile_number}}<br>
          Email: {{data.email}}<br> -->

          <button (click)='add_member2()' class="team_button">Apply for Accommodation</button><br>
          <!-- <span class='input-group-btn'>
            <span><button class=btn2 (click)='add_member2()' type='button'>Add</button></span></span> -->
        
          </div>

      <br><br><br><br><br><br><br><br><br>
</div>