    <div style="font-family: Poppins;" *ngIf="uid2" class="div1">

        <p>
        <b>MI No.:</b> {{uid2.mi_number}}<br>
        <b>Name:</b> {{uid2.name}}<br>
        <b>Mobile:</b> {{uid2.mobile_number}}<br>
        <!-- Contingent strength: 3<br>
        Male Contingent strength: 3<br>
        Female Contingent strength: 0<br> -->
        </p>
        <!-- </p> -->
        <table  class="table">
          <thead>
            <tr>
              <td style="font-size:120%; font-weight:bold;">Name</td>
              <td style="font-size:120%; font-weight:bold;">Phone Number</td>
              <td style="font-size:120%; font-weight:bold;">MI Number</td>
              <td style="font-size:120%; font-weight:bold;">Gender</td>
              <td></td>
            </tr>
          </thead>
          
          <!-- <thead>
        
              <td>{{uid2.name}}</td>
              <td>{{uid2.mobile_number}}</td>
          
          </thead> -->
          <tbody *ngFor="let us of members_added">
            <!-- <div > -->
            <tr *ngIf="us.removed==false && us.addedbycl==true">
              <td>{{us.user.name}}</td>
              <td>{{us.user.mobile_number}}</td>
              <td>{{us.user.mi_number}}</td>
        
              <td>{{us.user.gender}}</td>
              <td>
                  <span class="input-group-btn">
                      <button class=btn2 (click)="remove(us.user.mi_number)" type="button">Remove</button>
                    </span>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>Approval requests:</h2>
          <table  class="table">
            <thead>
              <tr>
                <td style="font-size:120%; font-weight:bold;">Name</td>
                <td style="font-size:120%; font-weight:bold;">Phone Number</td>
                <td style="font-size:120%; font-weight:bold;">MI Number</td>
                <td style="font-size:120%; font-weight:bold;">Gender</td>
                <td></td>
              </tr>
            </thead>
            
          <tbody *ngFor="let us of members_added">
            
            <tr *ngIf="us.removed==false && us.addedbycl==false">
              <td>{{us.user.name}}</td>
              <td>{{us.user.mobile_number}}</td>
              <td>{{us.user.mi_number}}</td>
        
              <td>{{us.user.gender}}</td>
              <td>
                  <span class="input-group-btn">
                      <button class=btn2 (click)="update(us.user.mi_number)" type="button">Approve</button>
                    </span>
              </td>
            </tr>
            <!-- </div> -->
          </tbody>
        </table>
        <h3>Enter MI Numbers of Contingent Members</h3>
        <input #myInput  placeholder="Team Member's MI No.(MI-ABC-123)"  type="text" class="form-control" style="width:60%; display: inline-block; text-transform:uppercase;">
          <button class=btn3 (click)="add_member(myInput.value)" type="button" style="display:inline;">Add Member</button>
        </div>
        
        
        
        
        
        <div class="main_content" *ngIf="!uid2&&uid3">
            <p>
                MI No: {{uid3.mi_number}}<br>
                Name: {{uid3.name}}<br>
                Mobile: {{uid3.mobile_number}}<br>
                <!-- Contingent strength: 3<br>
                Male Contingent strength: 3<br>
                Female Contingent strength: 0<br> -->
                </p>
                <!-- </p> -->
                <table  class="table">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td>Phone No.</td>
                      <td>Mi No.</td>
                      <td>Gender</td>
                      <td></td>
                    </tr>
                  </thead>
                  
                  <!-- <thead>
                
                      <td>{{uid2.name}}</td>
                      <td>{{uid2.mobile_number}}</td>
                  
                  </thead> -->
                  <tbody *ngFor="let us of members_added">
                    <!-- <div > -->
                    <tr *ngIf="us.removed==false">
                      <td>{{us.user.name}}</td>
                      <td>{{us.user.mobile_number}}</td>
                      <td>{{us.user.mi_number}}</td>
                
                      <td>{{us.user.gender}}</td>
                      <td>
                          <span *ngIf="us.user.mi_number==mi_id" class="input-group-btn">
                              <button class=btn2 (click)="exit(us.user.mi_number)" type="button">Exit</button>
                            </span>
                      </td>
                    </tr>
                    <!-- </div> -->
                  </tbody>
                </table>
                
          
        </div>
        
        
        
        
        <div class="main_content" *ngIf="!uid2&&!uid3">
            <form autocomplete="off" name="myForm">
                Current College:
                <table>
            <tr>
                <td><label for="currentclg"></label></td><br>
                <td (blur)="showDropDownClg = false"><input autocomplete="off"tyle="margin-bottom: 0px" name="people" [(ngModel)]="college" id="currentclg" (click)="toggleDropDownClg()" (clickOutside)="closeDropDownClg()" (focus)="toggleDropDownClg()" placeholder="Select Your College">
                  <div class="dropdown" *ngIf="showDropDownClg">
                    <div (click)="selectValueClg(person)" class="dropdown-option" *ngFor="let person of people | collegelistfilter:college" (blur)="showDropDownClg = false">
                      {{person}}
                    </div>
                  </div>
                </td>
              </tr>
              </table>
              </form>
              <div *ngIf="pop" id="cl_data">
                  <h4>Please contact your CL: </h4>
                  Name: {{data.name}}<br>
                  Contact No: {{data.mobile_number}}<br>
                  Email: {{data.email}}<br>
                  <span class='input-group-btn'>
                   <span><button class=btn2 (click)='add_member2()' type='button'>Add</button></span></span>
                
                  </div>
        </div>