.main_content {
        /* display:inline-block; */
        z-index: 3;
        width: 50%;
        position: relative;
        float: right;
        /* margin-left: 40%; */
        /* margin-top: 0%; */
        margin-right: 20%;
    
        /* top: 95%; */
        /* margin-top: -10%; */
        max-height: 40%;
        /* height: 40%; */
        color: white;
        font-size: 15px;
        display: block;
    
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;  
        /* font-weight: bold; */
        font-family: 'Poppins', sans-serif;
    
        /* z-index: 1; */
        /* float: right; */
        /* background-color: azure;     */
    
    }
    
    .main_content::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .team_button{
      /* left:0px; */
      /* position:absolute; */
      /* text-align: center; */
      font-size: 20px;
      font-family: Verdana;
      /* margin-top: 225px; */
      /* margin-left: 250px; */
  
      border: solid black!important;
      border-width: 0 2px;
  
      background-color: transparent;
      cursor: pointer;
      width:auto;
      padding: 0.3em 1.9em;
      border-radius: 2em;
      outline: none !important;
      margin-bottom: 1.8em;     
}
    @media screen and (max-width: 800px) {
      .main_content {
        width: 100%;
        float: none;
        text-align: center;
        justify-content: center;
        padding-left: 8%;
        padding-right: 8%;
      }
    }
    

/* ################################################################################# */
.btn3,.btn2{
        font-size: 13px;
        font-family: Verdana;
        border-radius: 2em;
        outline: none !important;
        margin-left:10px;
        background-color: transparent;
        padding: 0.5em 1em;
        font-weight: bold;
    }
    
    
    .full-color{
        background-color: #FFD2BC;
      }
      .para{
              text-align: center;
              font-size: 17px;
              margin: 0 138px 10px
      }
      
      .regform{
        width: 100%;
        align-self: center;
        top: 0;
      }
      
      label {
        margin-left: 0px;
        font-size: 18px;
        margin-top: 0px;
        width: 100%;
        text-align: right;
      }
      .smallinput{
        font-size: 12px
      }
      input {
        width: 70%;
        max-width: 100%;
        display: table-cell;
        position: relative;
        /*left: 40px !important;*/
        border: groove black !important;
        border-radius: 4em;
        padding: 0.6em 1.4em;
        font-size: 15px;
        background-color: transparent;
        margin: 10px 10%;
        outline: none;
        color:black;
      }
      ::placeholder
      {
        color:black;
        opacity:0.5;
      }
      table {
        margin:1%;
        width: 98%;
        font-size: 120%;
        border: grey;
        border-width: 2%;
      }
      td.text {
        width: available;
      }
      td.input {
        width: 70%;
      }
      .dropdown{
        /* position: absolute; */
        width: 124%;
        /* left: 44%; */
        align-content: center;
        max-height: 217px;
        z-index: 1;
        overflow-y: auto;
        border-radius: 2em;
        color: black;
      }
      
      .dropdown::-webkit-scrollbar { width: 0 !important }
      
      .dropdown-option{
        font-size: large;
        background-color: white;
        border-radius: 2em;
        height: 10%;
        padding: 1.5%;
        text-align: center;
      }
      .dropdown-option:hover{
        background-color: cadetblue;
      }
      .dropdown div{
        width: 80%;
      }
      .div1
      {
        text-align: center;
        margin: 3%;
      }
      p
      {
        font-size:150%;
      }
      @media only screen and (max-width: 1000px) {
        .responsive {
          width: 100%;
        }
        label {
          font-size: 14px;
        }
        .input {
          font-size: 14px;
        }
        .smallinput{
          font-size: 10px
        }
      }
      
      @media only screen and (max-width: 750px) {
        .para{
                margin: 0 4px 10px
        }
        .responsive {
          width: 100%;
        }
        label {
          font-size: 10px;
        }
        .input {
          font-size: 14px;
        }
        .smallinput{
          font-size: 9px
        }
      }
      @media only screen and (max-width: 500px) {
        .para{
                margin: 0 4px 10px
        }
        .responsive {
          width: 100%;
        }
        label {
          font-size: 10px;
        }
        .dropdown {
            width: 100%;
            margin-left: 10%;
        }
        .input {
          font-size: 14px;
        }
        .smallinput{
          font-size: 7px
        }
      
        .logo{
          display: none
        }
        table
      {
        font-size:3vw;
      }
      .btn2{
          font-size: 2.4vw;
          font-family: Verdana;
          font-weight: bold;
          border-radius: 4vw;
          outline: none !important;
          background-color: transparent;
          margin-left:-3vw;
     }
      }
      
      .btn {
        background-color: black;
        color: white;
        border-color: black;
        font-size: 30px;
        padding: 8px 30px;
        border-radius: 30px;
        width: 50%;
        font-family: Poppins;
      }
      
      .btn:hover{
        background-color: antiquewhite;
        color: black;
      }
      
      @media screen and (max-width:700px){
        .para{
                margin: 0 4px 10px
        }
        .btn{
            font-size: 15px;
        }
      }
      @media screen and (max-width:400px){
        .para{
                margin: 0 4px 10px
        }
        .btn{
            font-size: 10px;
        }
      }

     

body{
  background: #F1F1F1;
}
/*****************************************************************************/
.container{
  width: 100%;
  padding: 0%;
  /* margin: 200px auto; */
}

.timeline{
  position: relative;
  padding: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.timeline li{
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  /* text-align: center; */
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Dosis', sans-serif;
}



.timeline li:before{
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #2456dd;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  /* margin: 0 auto 10px auto; */
  background: #F1F1F1;
  color: #000;
  margin-bottom: 5%;
  /* transition: all ease-in-out .3s; */
  /* cursor: pointer; */
}

.timeline li:after{
  content: "";
  position: absolute;
  left: -50%;
  top: 20%;
  width: 100%;
  height: 5px;
  background-color: white;
  /* top: 25px;
  left: -50%; */
  z-index: -999;
  /* transition: all ease-in-out .3s; */
}

.timeline li:first-child:after{
  content: none;
}
.timeline li.active{
  color: black;
  font-weight: 900;
}
.timeline li.active:before{
  background: #2456dd;
  color: #F1F1F1;
}

.timeline li.active + li:after{
  background: #2456dd;
}