<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/compi/Asset%2044@2x.png">
    <p class="contdet">+91-7021760392</p>
    <p class="contdet">atharva@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/atharva.padhye.9" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/compi/Asset%2043@2x.png">
    <p class="contdet">+91-7700903058</p>
    <p class="contdet">kanav@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/kanav.gupta.79274" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/kanav-gupta-250b77161/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://twitter.com/Kanukg01051998" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://instagram.com/gupta_kanav_15?igshid=127zqu0l6bjrg" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
