<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/compi/Asset%2044@2x.png">
    <p class="contdet">+91-7021760392</p>
    <p class="contdet">atharva@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/compi/Asset%2043@2x.png">
    <p class="contdet">+91-7700903058</p>
    <p class="contdet">kanav@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
</div>
