<div style="overflow: hidden" class="full-color" xmlns:searchFilter="http://www.w3.org/1999/xhtml">
  <img src="../../../assets/reg/Asset%2031withbg.png" class="bg1">

  <div>

    <br><br><br><br><br>

    <h1 class="headr"><b>Profile</b></h1>

    <br><br><br><br><br>
  <div class="container">
    <div class="regform">



      <form >
        <table>
          <tr>
            <td class="text"><label for="name">NAME:</label></td>
            <td>{{name}}</td>
          </tr>
          <tr>
            <td><label for="mobile">EMAIL:</label></td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td><label for="mobile">UID:</label></td>
            <td>{{uid}}</td>
          </tr>
        </table>
      </form>
      <br><br>

  <ngx-qrcode class="qr" qrc-element-type='img' [qrc-value]="qrCodeValue"></ngx-qrcode>

  <br><br>
  <button  id="button" class="btn" (click)="logout()" >Logout</button><br>
    </div>
  </div>
  
  </div>

  <img src="../../../assets/reg/Asset 28lap.png" class="bg2">

  </div>
