
<div style="overflow: hidden" class="full-color">
  <div>
<img src="../../../assets/compi/Asset 45withbg.png" class="bg1">

<img src="../../../assets/logos/Asset 49compibglogo.svg" class="logo">
</div>
<div>

  <br><br>

  <p style="margin-bottom: 10px" class="headr">Competitions</p>

  <br><br>
<div style="z-index: 1000; margin-top: -100px" class="container">
  <div class="responsive">
    <div class="gallery">
      <a routerLink="Dance">
        <img src="../../assets/compi/genre/dance.png" width="600" height="400">
      </a>
      <div class="desc"><b>DANCE</b></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a routerLink="Music">
        <img src="../../assets/compi/genre/music.png" width="600" height="400">
      </a>
      <div class="desc"><b>MUSIC</b></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a routerLink="Dramatics">
        <img src="../../assets/compi/genre/dram.png" width="600" height="400">
      </a>
      <div class="desc"><b>DRAMATICS</b></div>
    </div>
  </div>



  <div class="responsive">
    <div class="gallery">
      <a routerLink="Speaking Arts">
        <img src="../../../assets/compi/genre/speaku.png" width="600" height="400">
      </a>
      <div class="desc"><b>SPEAKING ARTS</b></div>
    </div>

</div>
  <div class="responsive">
    <div class="gallery">
      <a routerLink="Speaking Arts">
        <img src="../../../assets/compi/genre/Asset%2046.png" width="600" height="400">
      </a>
      <div class="desc"><b>JOURNALISM & COMMUNICATION</b></div>
    </div>

  </div>
</div>
<div class="container">

  <div class="responsive">
    <div class="gallery">
      <a routerLink="Literary Arts">
        <img src="../../assets/compi/genre/literary.png" width="600" height="400">
      </a>
      <div class="desc"><b>LITERARY ARTS</b></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a routerLink="Lifestyle">
        <img src="../../assets/compi/genre/lifestyle.png" width="600" height="400">
      </a>
      <div class="desc"><b>LIFESTYLE</b></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a routerLink="Fine Arts">
        <img src="../../assets/compi/genre/fa.png" width="600" height="400">
      </a>
      <div class="desc"><b>FINE ARTS</b></div>
    </div>
  </div>



  <div class="responsive">
    <div class="gallery">
      <a routerLink="Design and Digital Arts">
        <img src="../../assets/compi/genre/dada.png" width="600" height="400">
      </a>
      <div class="desc"><b>DESIGN & DIGITAL ARTS</b></div>
    </div>

</div>
  <div class="responsive">
    <div class="gallery">
      <a routerLink="Design and Digital Arts">
        <img src="../../../assets/compi/genre/Asset%2048.png" width="600" height="400">
      </a>
      <div class="desc"><b>TALENT HUNT</b></div>
    </div>

  </div>

  </div>

</div>
<img src="../../../assets/compi/Asset 13Selectedlap.png" class="bg2">

</div>
