.logo{
  width: 13%;
  height: auto;
  position: relative;
  margin-top: 3%;
  margin-left: 4%;
}
.sm-link{
	--uismLinkDisplay: var(--smLinkDisplay, inline-flex);	
	--uismLinkTextColor: var(--smLinkTextColor);
	--uismLinkTextColorHover: var(--smLinkTextColorHover);	
	
	display: var(--uismLinkDisplay);
	color: var(--uismLinkTextColor);
	position: relative;
	overflow: hidden;
}

a.sm-link{
	text-decoration: none;
}

.sm-link__label{
  display: block;
}

/* sm-link_padding-all */ 

.sm-link_padding-all{
	--uismLinkLineWeight: var(--smLinkLineWeight, 2px);
	--uismLinkLineColor: var(--smLinkLineColor, #000);
	--uismLinkPadding: var(--smLinkPadding, 5px);
	
	padding: var(--uismLinkPadding);
}

.sm-link_padding-all::before, 
.sm-link_padding-all::after{
  width: 100%;
  height: var(--uismLinkLineWeight);
  left: 0;
}

.sm-link_padding-all::before{
  top: 0;
}

.sm-link_padding-all::after{
  bottom: 0;
}

.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
  width: var(--uismLinkLineWeight);
  height: 100%;
  top: 0;
}

.sm-link_padding-all .sm-link__label::before{
  left: 0;
}

.sm-link_padding-all .sm-link__label::after{
  right: 0;
}

.sm-link_padding-all::before,
.sm-link_padding-all::after,
.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
  content: "";     
	background-color: var(--uismLinkLineColor);
  position: absolute; 
	opacity: 0;
	
	will-change: transform, opacity;
	transition-property: transform, opacity;
}

.sm-link_padding-all:hover::before,
.sm-link_padding-all:hover::after,
.sm-link_padding-all:hover .sm-link__label::before,
.sm-link_padding-all:hover .sm-link__label::after{
	opacity: 1;
}

/* sm-link_padding-bottom */ 

/* .sm-link_padding-bottom .active_button{
	--uismLinkLineWeight: var(--smLinkLineWeight, 2px);
	--uismLinkLineColor: var(--smLinkLineColor, #000);	
	
	padding-bottom: var(--uismLinkLineWeight);	
	position: relative;
} */

.sm-link_padding-bottom {
	--uismLinkLineWeight: var(--smLinkLineWeight, 2px);
	--uismLinkLineColor: var(--smLinkLineColor, #000);	
	
	/* padding-bottom: var(--uismLinkLineWeight);	 */
	position: relative;
}


.sm-link_padding-bottom::after{
  content: "";
  width: 100%;
  height: var(--uismLinkLineWeight);
	background-color: var(--uismLinkLineColor);
	
  position: absolute;
  left: 0;
  bottom: 0;
}

/* sm-link_bg */ 

.sm-link_bg {
	--uismLinkLineColor: var(--smLinkLineColor, #000);	
	--uismLinkTextColorHover: var(--smLinkTextColorHover, #fff);	
	--uismLinkPadding: var(--smLinkPadding, 5px);
	
	padding: var(--uismLinkPadding);
	transition: color .3s ease-out;
}

.sm-link_bg::before, 
.sm-link_bg::after{
  content: "";
	background-color: var(--uismLinkLineColor);	
  opacity: 0;
  position: absolute;
	
	transition: transform .2s ease-out, opacity .2s ease-out .03s;
}

.sm-link_bg .sm-link__label{
  position: relative;
  z-index: 2;
}

.sm-link_bg:hover::before, 
.sm-link_bg:hover::after{
  opacity: 1;
	transition-duration: .35s, .35s;
	transition-delay: 0s, 0s;
}

.sm-link_bg:hover{
	color: var(--uismLinkTextColorHover);
}

/* sm-link_text */ 

.sm-link_text::before{
  content: attr(data-sm-link-text);
	color: var(--uismLinkTextColorHover);
  position: absolute;
}

.sm-link_text::before, 
.sm-link_text .sm-link__label{
  transition-property: transform;
	transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
	transition-duration: .3s;
}

.sm-link_text:hover::before,
.sm-link_text:hover .sm-link__label{
	transition-duration: .4s;
}

.sm-link3::after{
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s ease-in;
}

.sm-link3:hover::after{
  transform: translate3d(0, 0, 0);
}

/* effect 4 */

/*
SETTINGS
*/

.sm-link{
	--smLinkPadding: 10px 15px;
	--smLinkLineWeight: 5px;
	--smLinkLineColor: white;
	--smLinkTextColor: white;
	--smLinkTextColorHover: white;
}

.sm-link_bg{
	--smLinkTextColorHover: #fff;
}


.background {
    height: 50%;
    width: 50%;
    /* width: 100%;  */
    top: 0; left: 0; 
    background-size: cover;
    position: fixed;
}

.full-color{
    background-color:  	#FF9339;
    position: absolute;
    /* height:100vh; */
    top:0; 
    
     right:0; 
     left:0; 
     
     
     z-index: -150; 
  }
  

.bg1 {
    z-index: -3;
    width:100%;
    /* height:100%; */
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: -500px;
    z-index: -4;
    background-color: #FF9339;
    /* overflow-y: hidden; */

    background-repeat: repeat-y;
    /* overflow-y: scroll; */
}


.bg3 {
    width:100%;
    /* height:auto; */
    position: absolute;
    top: 0%;
    left: 0%;
    /* top: 5%; */
    /* margin-top: 20px; */
    /* left: 0%; */
    z-index: -2;
}

.bg4 {
    width:100%;
    /* height:auto; */
    /* position: absolute; */
    left: 0%;
    /* margin-top: -20%; */
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* margin-bottom:80%; *50%/
    /* left: 0%; */
    /* top: 0%; */
    bottom: -500px;
    z-index: -1;
}

.main_heading{
  z-index: -1;
  margin-top: -10%;
  font-family: Welcome;
  font-size: 175px;
  color: white;
  position: relative;
  text-align: center;
}
.btn_group{
    /* width: 50%; */
    position: relative;
    margin-left: 6%;
    margin-right: 68%;
    /*padding: 1%;*/
    /* background-color: azure; */
    /* display: inline-block; */
    /* float: left; */
    /* top: 50%; */
    /* margin-left:13%; */
    /* top: 35%; */
}

.btn_group a{
    font-size: 25px;
    color: white;
    cursor: pointer;
}



p {
  font-size: 30px;
}

/* .mobileoptions {
  display: none;
  width: 100%;
  text-align: center;
  left:0px;
} */

/* .mobileoptions button {
  background-color: transparent;
  border: 0px;
  color: white;
  cursor: pointer;
  width:auto;
  font-size: 200%;
  padding: 0.3em 01em;
  padding-bottom: 0;
  border-radius: 1em;
  font-weight: 500;
  outline: none !important;
} */

.btn-group{
  z-index: 5;
    margin-top: 10px;
    width: 100%;
    /* position: absolute; */
    text-align: center;
    display: none;

}


.btn-group button {
    /* margin-top: -100px; */
    background-color: transparent;
    border: 0px;
    color: black;
    cursor: pointer;
    width:auto;
    font-size: 200%;
    padding: 0.3em 01em;
    border-radius: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    outline: none !important;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.raise {
  --color: #fff;
  --hover: #fff;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

.active{
  /* display: none */
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
/* --color: #ffa260; */
/* --hover: #e5ff60; */
          
}

.rightcontent{
  margin-left: 5%;
}

.headr{
  font-size: 40px;
  font-weight: 600;
}

.name{
  font-size: 25px;
  margin-bottom: 0;
}

.desc{
  font-size: 15px;
  margin-top: 0;
}



@media screen and (max-width: 800px){
  .main_heading {
    /* position: absolute; */

    font-size: 100px;
    line-height: 86px;
  }
  .logo{
    display: none
  }
  p {
    font-size: 20px;
  }

  .options {
    top: 28%;
    display: none;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0px;
    vertical-align: middle;
  }

  .btn-group {
    font-family: 'Poppins', cursive;
    display: block;
  }
}

.options {
  font-family: 'Poppins', cursive;
  margin-left: 4%;
  width: 100%;
}

.active_button {
  /* color: #000; */
  /* text-decoration: underline; */

  /* border-bottom: white; */

  /* content: "";  */
  /* width: 100%;
  height: 5px;
	background-color: white;
	
  position: absolute;
  left: 0;
  bottom: 0; */

  /* color: #F16A70; */
  /* text-transform: uppercase; */
  display: inline-block; 
  /* font-size: 30; */
  /* font-family: oswald; */
  /* /* text-decoration: none; */
  background-image: linear-gradient(to right, white, white);
  background-position: bottom left;
  /* background-position: top 5px; */
  background-repeat: no-repeat;
  background-size: 100% 5px;
  /* /* padding: 10px  */
  /* transition: background-size .5s ease; */
  /* padding-bottom: 50px; */
  /* z-index: -2 ; */
  /* height: 5px  ; */

  /* transform: translate3d(-100%, 0, 0); */
  /* transition: transform .2s ease-in; */ 

}

@media screen and (max-width: 600px){
  .btn-group button{
    font-size: 16px;
  }
  .headr{
    font-size: 25px;
    color: black;
  }
  .detailphone{
    padding: 5%;
    font-family: 'Poppins';
  }
  .name{
    font-size: 20px;
    color: black;
  }
  .desc{
    font-size: 15px;
    color: black;
  }
}


.main_content {
  /* display:inline-block; */
  width: 50%;
  position: relative;
  float: right;
  /* margin-left: 40%; */
  /* margin-top: 0%; */
  margin-right: 20%;

  /* top: 95%; */
  /* margin-top: -10%; */
  max-height: 40%;
  /* height: 40%; */
  color: white;
  font-size: 15px;
  display: block;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;  
  /* font-weight: bold; */
  font-family: 'Poppins', sans-serif;

  /* z-index: 1; */
  /* float: right; */
  /* background-color: azure;     */

}

.main_content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 800px) {
  .main_content {
    width: 100%;
    float: none;
    text-align: center;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media screen and (max-width: 1200px){
  .btn_group{
    margin-left: 4%;
  }
}