<table class="main_content">
<tr>
<th><img src="../../../assets/acco.png"  style="height:39%; width:auto; "></th>
<th><img src="../../../assets/Concert.jpg" style="height:20%; width:auto;margin-right:10%;margin-left: 5%" ></th>
</tr>
<tr>
  <th><p style="font-weight:normal; margin:auto;">5 day stay inside the campus during the fest</p><br></th>
  <th><p style="font-weight:normal;margin-left:5%;margin-right:10%;">Direct entry to concerts</p><br></th>
</tr>
<tr>
    <th><img src="../../../assets/Proshows.jpg"  style="height:31%; width:auto;" alignment=centre></th>
    <th><img src="../../../assets/H_KK_2.jpg" style="height:8%; width:auto;margin-right:10%;margin-left: 5%" ></th>
    </tr>
    <tr>
      <th><p style="font-weight:normal; margin:auto;">Direct entry to proshows	</p><br></th>
      <th><p style="font-weight:normal;margin-left:5%;margin-right:10%;">Attending Afternites</p><br></th>
    </tr>
</table>