<div class="main_content" id="accordion">
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#one">Why registration is necessary?</a>
    <br><p id="one" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Registering on the website will generate a unique MI number for you. This MI number is essential for participation or entry to all the activities going on during Mood Indigo!
    If you want to register for a competition or accommodation or collect concert passes against your college ID, you’ll need to have an MI number. Your MI number is the key to the best things the festival has to offer.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#two">How do I register for Mood Indigo?</a>
    <br><p id="two" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Go to the <a href="http://moodi.org/register" target="_blank">Register</a> tab to get your MI number.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#three">I cannot find my college in the drop-down list. What should I do?</a>
    <br><p id="three" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>If you do not find your college on the list, then submit the form using “Not Found” in the college tab.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#4">What is the MI number?</a>
    <br><p id="4" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>MI Number is a unique ID generated after you register and is your identity for any future notices. It is compulsory to have an MI number.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#5">Is it necessary to have an MI number to attend MI?</a>
    <br><p id="5" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Yes, it is compulsory.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#6">When is the next edition of Mood Indigo?</a>
    <br><p id="6" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Mood Indigo 2019 will be held from 26th to 29th December. Gear up for the 4 most awesome days of this year! </p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#7">Is the entry free?</a>
    <br><p id="7" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>The entry has been and will always be free. All you need is a college ID!</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#8">I want to be a part of organizing a team of Mood Indigo. How can I help?</a>
    <br><p id="8" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>You can register at <a href="https://ccp.moodi.org" target="_blank">College Connect Portal </a> as the College Head (CH) or College Associate (CA) to become a part of the organizing team of Mood Indigo, IIT Bombay.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#9">What is the artist lineup for Mood Indigo 2019?</a>
    <br><p id="9" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Stay tuned to our Official <a href="https://www.instagram.com/iitbombay.moodi/" target="_blank">Instagram</a> and <a href="https://www.facebook.com/iitb.moodindigo/" target="_blank">Facebook</a> page.</p>
    <br>    
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#10">Who should I contact in case of an emergency during Mood Indigo?</a>
    <br><p id="10" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>The emergency Contact number will be given on the registration booklet.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#11">Can people of any age-group attend Mood Indigo?</a>
    <br><p id="11" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>No, Only college students are allowed.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#12">Are cars allowed inside? Is parking available?</a>
    <br><p id="12" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify> No, vehicles are not allowed.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#13">What all are the benefits of joining the Mood Indigo team?</a> 
    <br><p id="13" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>There are several benefits and goodies for top-performing college Head and Associates which are mentioned on the College Connect Portal.</p> 
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#14">Why should I give my information in registration?</a>
    <br><p id="14" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify> All the details asked are relevant and are used to keep you updated about events at Mood Indigo. All the information is kept safe within the Mood Indigo Database.</p>
    <br>
    <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#15">What to do after completing the registration?</a>
    <br><p id="15" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>You will receive an mail regarding the confirmation of registration for Mood Indigo which will contain MI number. After this, all you need to do is attend Mood Indigo :D .</p>
    <br>
</div>
