<div class="main_content">
    <a style="color: white;" data-toggle="collapse" href="#1">When will the registration for accommodation start?</a>
    <br><p id="1" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> will begin in the middle of October
    </p><br>
    <a style="color: white;" data-toggle="collapse" href="#2">What is the procedure for the online payment of accommodation fees?</a>
    <br><p id="2" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> Once a particular contingent is finalized by CL and their accommodation is confirmed by Hospitality and PR Heads of the festival, each and every person with confirmed accommodation will be given a link to the payment portal where he/she needs to make the payment online. In case an individual wishes to make online payment of some other people in his/her contingent as well, the option for the same would be available
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#3">What is Contingent Leader(CL)?</a>
    <br><p id="3" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> Contingent Leader is the senior student of the college, who is appointed by their college and will lead the contingent from his/her college to Mood Indigo
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#4">What is the job of contingent Leader?</a>
    <br><p id="4" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> CL acts as a representative for all accommodation related queries between MI and his/her college, thus conveying all Mood Indigo information to students of his/her college. The CL is also responsible for applying for accommodation on behalf of the college’s students. The CL gets a certificate of appreciation from Mood Indigo, IIT Bombay after completion of his/her duties
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#5">How can I become a contingent leader of my college?</a>
    <br><p id="5" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> In order to be nominated as the CL of your college, you need an official letterhead of your college signed by the director/principal saying that you have been nominated as the Contingent Leader for Mood Indigo 2019. Along with you,names of two other people should also be there who would be the assistant CL. All three of you must mention your MI number along with your name in the letter. Send a scanned copy of the same to prateek@moodi.org or suchit@moodi.org. All this should be done before 30th October 2019
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#6">When will my accommodation be confirmed?</a>
    <br><p id="6" class="collapse" data-parent="accordion" style="font-weight: normal"align=justify> You first need to register for Mood Indigo and get your MI number. Your accommodation will then be confirmed by the CL in coordination with the Hospitality Heads of the festival. The confirmation for the same will be communicated to the CL by the first week of December
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#7">Where will the accommodation be provided?</a>
    <br><p id="7" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> Accommodation will be provided to boys and girls in well-secured separate residential complexes on the campus of IIT Bombay
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#8">Will the team members be given accommodation at the same place?</a>
    <br><p id="8" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> We will try our best to provide you with this arrangement but no confirmation can be given
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#9">We have no cultural committee to nominate a CL & we are a group of 4-5 friends who want to attend the events. How do we get accommodation?</a>
    <br><p id="9" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> You should nominate a CL/ACL amongst yourselves, get it approved from the college authorities and then proceed in the same manner
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#10">Does the accommodation fee include the food facility as well?</a>
    <br><p id="10" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> No. The accommodation charges don’t include food. However, there will be food courts operational during Mood Indigo to cater to the food requirements
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#11">What all does the accommodation facilities include?</a>
    <br><p id="11" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> The accommodation cost includes staying within the campus during the festival, direct entry to concerts without passes, Hospitality kit, entry to afternites
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#12">We are a group of friends not participating in any of the competitions and just coming to MI to have fun. Would we be allowed?</a>
    <br><p id="12" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> Yes, you can definitely attend MI by registering from your respective colleges. However, for accommodation, you can contact the Heads of Hospitality and Public Relations and request for accommodation. Accommodation would be confirmed strictly subject to availability
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#13">What is the procedure to be followed after we reach IIT Bombay?</a>
    <br><p id="13" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify> You need to come to the Accommodation Desk, Students Activity Centre (SAC) along with your college identity card. You will be allotted your place to stay on campus and given a registration booklet. In the case of a big contingent, a contingent leader needs to present the ID cards of all the people in his contingent at the accommodation desk along with a list of all the people. Accommodation would be strictly on a shared basis
      </p><br>
      <a style="color: white;" data-toggle="collapse" href="#14">I am not traveling with my college contingent and will be arriving separately. what should I do?</a> 
    <br><p id="14" class="collapse" data-parent="accordion" style="font-weight: normal" align=justify>You need to proceed with the registration in a similar way. Irrespective of your time of arrival, your CL will have to register and ensure complete payment of his/her contingent. As your registration at SAC would have been done by your CL you can then contact him/her and directly arrive at your place of stay.
      </p><br>
</div>
