/* body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-image: linear-gradient(135deg, #8f24ed 30%, #107cb3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
} */

ul li a{
  color: black;
  font-family: 'Staatliches', cursive;
  font-size: 28px;
  margin-top: 50px;
}
.mobile{
  display: none
}

@media screen and (max-width: 1200px){
  ul li a{
    font-size: 27px;
  }
}

@media screen and (max-width: 1120px){
  ul li a{
    font-size: 25px;
  }
}

@media screen and (max-width: 1060px){
  ul li a{
    font-size: 23px;
  }
}

@media screen and (max-width: 1000px){
  ul li a{
    font-size: 21px;
  }
}

@media screen and (max-width: 920px){
  ul li a{
    font-size: 19px;
  }
}

@media screen and (max-width: 860px){
  ul li a{
    font-size: 17px;
  }
}

@media screen and (max-width: 800px) {
  .mobile{
    color: black;
    display: block;
    position: absolute;
    top: 5px;
    right: 12px;
  }
  .pcheader{
    display: none;
  }
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;

  font-family: 'Staatliches', cursive;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -2px;
  font-size: 36px;
  margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
