/* body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-image: linear-gradient(135deg, #8f24ed 30%, #107cb3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
} */
ul li a{
  color: black;
  font-family: 'Staatliches', cursive;
  font-size: 28px;
  margin-top: 50px;
}
.mobile{
  display: none
}

@media screen and (max-width: 800px) {
  .mobile{
    display: block;
  }
  .pcheader{
    display: none;
  }

}
