<div class="background">
    <div class="collapse navbar-collapse" id="myNavbar">
          
      <ul class="nav navbar-nav navbar-right" style="z-index: 999; position: absolute; top: 40px; right: 15px;">
        
            <li><a class="button1" routerLink="accommodation"><b>ACCOMMODATION</b></a></li>
            <li><a class="button1" routerLink="registration"><b>REGISTRATION</b></a></li>
            <li><a class="button1" routerLink="events"><b>EVENTS</b></a></li>
            <li><a class="button1" routerLink="competition"><b>COMPETITIONS</b></a></li>
            <li><a class="button1" routerLink="faqs"><b>FAQs</b></a></li>
            <li><a class="button1" routerLink="sponsors"><b>SPONSORS</b></a></li>
            <li><a style="margin-right: 25px" class="button1" routerLink="contact"><b>CONTACT US</b></a></li>
        
      </ul>
    </div>
</div>
<router-outlet></router-outlet>