body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-image: linear-gradient(135deg, #8f24ed 30%, #107cb3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*,
:after,
:before {
  box-sizing: border-box;
}

.menu {
  width: 320px;
  height: 568px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0px 12px rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 12px white;
  overflow: hidden;
  position: relative;
  background-color: #eaecef;
  margin: 30px auto;
}
.menu__trigger {
  position: absolute;
  top: 24px;
  right: 26px;
  cursor: pointer;
}
.menu__trigger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 12px;
  left: 0;
  transform: translateX(-7px);
  top: 8px;
  background-image: linear-gradient(0deg, #ee43bd 0%, #ffd779 100%);
  transition: all 0.2s ease;
  will-change: transform;
}
.menu__trigger span {
  position: relative;
  z-index: 1;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 16px;
}
.menu__trigger:hover:after {
  transform: translateX(0);
}
.menu__trigger--close {
  visibility: hidden;
  opacity: 0;
}
.menu__logo {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}
.menu__logo svg {
  width: 185px;
  margin: 0 auto;
  display: block;
}
.menu__logo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  letter-spacing: -1.5px;
  line-height: 28px;
}
.menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.menu__inner-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.menu__inner-background li {
  position: relative;
  display: inline-block;
  height: 100%;
  overflow: hidden;
}
.menu__inner-background li:first-child {
  width: 21px;
}
.menu__inner-background li:nth-child(2) {
  width: calc(33.33% - 14px);
}
.menu__inner-background li:nth-child(3) {
  width: calc(33.33% - 14px);
}
.menu__inner-background li:nth-child(4) {
  width: calc(33.33% - 14px);
}
.menu__inner-background li:last-child {
  width: 21px;
}
.menu__inner-background li i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.menu__inner-background li i:after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background: #edeff5;
  z-index: 2;
}
.menu__items-wrapper {
  position: relative;
  padding-left: 22px;
}
.menu__items-list {
  position: relative;
  z-index: 1;
}
.menu__items-list li {
  margin-bottom: 8px;
}
.menu__items-list li a {
  color: #282828;
  text-decoration: none;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  display: block;
  letter-spacing: -1.2px;
  font-weight: 900;
}
.menu__items-shape {
  position: absolute;
  left: -32px;
  top: -60px;
}
.menu__items-shape svg {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  min-height: 150px;
  margin: 0 auto;
}
.mobileheader{
  display: none;
}
@media only screen and (max-width: 1028px) {
  .mobileheader{
    /* font-family: Welcome;  */
    display: block;
  }
  .pcheader{
    display: none;
  }
}

.button1{
  color: #282828
}
.button2{
  color: white
}
