<!--<div class="main_content">-->
<!--  <img class="contactimg1" src="../../../assets/contact/media/Asset%2059@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/media/Asset%2060@2x.png">-->
<!--</div>-->
<div class="main_content">
  <div class="contactcont">
    <img style="width: 75%;" class="contactimg" src="../../../assets/contact/media/Asset%2059@2x.png">
    <p class="contdet1">+91-9752601152</p>
    <p class="contdet1">amogh@moodi.org</p>
    <div class="contsocial1">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg1" src="../../../assets/contact/media/Asset%2060@2x.png">
    <p class="contdet2">+91-7053595967</p>
    <p class="contdet2">nimish@moodi.org</p>
    <div class="contsocial2">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
</div>
