<!--<div class="main_content">-->
<!--  <img class="contactimg1" src="../../../assets/contact/media/Asset%2059@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/media/Asset%2060@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img style="width: 75%;" class="contactimg" src="../../../assets/contact/media/Asset%2059@2x.png">
    <p class="contdet1">+91-9752601152</p>
    <p class="contdet1">amogh@moodi.org</p>
    <div class="contsocial1">
      <a href="https://www.facebook.com/TheUnhandledException" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/amogh-kawathekar-9a542b164/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/AmoghNo1" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      &nbsp;
      <a href="https://www.instagram.com/amoghkawathekar/?hl=en" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg1" src="../../../assets/contact/media/Asset%2060@2x.png">
    <p class="contdet2">+91-7053595967</p>
    <p class="contdet2">nimish@moodi.org</p>
    <div class="contsocial2">
      <a href="https://www.facebook.com/nimishg.14" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/nimish-gahlot-73833b153" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
