<!--<div class="adityascss">-->
<!--  <img class="contactimg" src="../../../assets/contact/oc/Asset%2045@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/oc/Asset%2046@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="adityacss">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/oc/Asset%2045@2x.png">
    <p class="contdet">prasham@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/prasham64" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="linkedin.com/in/prasham-agrawal-926832142" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/prashamagrawal" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/oc/Asset%2046@2x.png">
    <p class="contdet">himank@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/Himank.Jain.111" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/himank1/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/Himank_jain1" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</div>
