<div *ngFor="let category of competitions_categories">
  <div class="btn-group" *ngIf="category.name == current_competition_category">
      <div *ngFor="let event of category.events">
          <div *ngIf="event.name == current_event">
    
              <div style="padding: 6%; font-size: 2.5em; font-variant: small-caps; font-weight:bold; font-family: 'Courier New', Courier, monospace">Prizes</div><br>
              <div style="padding: 6%;" [innerHTML]="event.prizes"></div><br>
              <div style="font-size: 2.5em; font-variant: small-caps; font-weight:bold; font-family: 'Courier New', Courier, monospace">LYP Partners</div><br>
              <div style="font-size: 30px; adding: 6%;" [innerHTML]="event.LYP_partner"></div>
              <div style="adding: 6%;" [innerHTML]="event.LYP_description"></div>
    
            
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br><br>
              <br>
              <br>
              <br>
              <br>
              <br>
    
          </div>
      </div>
  </div>
</div>
