<div class="se-pre-con">
    <lottie-animation-view
    [options]="lottieConfig"
     
    [height]="600"
    (animCreated)="handleAnimation($event)">
  </lottie-animation-view>
  </div>

  <div style="display: none;">
    <img src="../../../assets/compi/Asset 26withbg.png">
    <img src="../../../assets/logos/Asset 49compibglogo.svg" class="logo">
    <img src='../../../assets/compi/Asset 18.png'>
    <img src='../../../assets/compi/Asset 19.png'>
    <img src='../../../assets/compi/Asset 20.png'>
    <img src="../../../assets/compi/Asset 13Selectedlap.png">
    <img src="../../../assets/compi/Asset 13Selectedlap.png">
    <img src="../../../assets/compi/Asset 26withbg.png">
    <img src="../../../assets/logos/Asset 49compibglogo.svg">
  </div>
   <router-outlet></router-outlet>