<div class="main_content" id="accordion">
        <a style="color: white; cursor: pointer;" data-toggle="collapse" href="#1">Am I eligible to attend a concert?</a>
<br><p id="1" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Anyone having an MI number can attend a concert, provided they have a pass.</p>
<br>
<a style="color: white; cursor: pointer;" data-toggle="collapse" href="#2">How can I attend concerts?</a>
<br><p id="2" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>The concerts are free for all. You just need to collect passes against your college ID at the hospitality desk.</p>
<br>
<a style="color: white; cursor: pointer;" data-toggle="collapse" href="#3">What are the timings of the concert?</a>
<br><p id="3" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>7 PM to 10 PM; all 4 days</p>
<br>
<a style="color: white; cursor: pointer;" data-toggle="collapse" href="#4">Can I leave and enter again at the concert using the same pass?</a>
<br><p id="4" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>No.</p>
<br>
<a style="color: white; cursor: pointer;" data-toggle="collapse" href="#5">What things are not allowed in the concert?</a>
<br><p id="5" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Cameras, cosmetics, pointed objects like scissors, knives, etc are not allowed. Make sure you bring your friends along, though!
There are arrangements inside for water, along with a food court. So there won’t be any need to carry water!
You cannot carry your own food items. However, you can buy food from food courts inside the concert area. </p>
<br>
<a style="color: white; cursor: pointer;" data-toggle="collapse" href="#6">Can I get passes for my friends by providing their IDs?</a>
<br><p id="6" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>No, you will get a pass only on your own ID.</p>
<br>
<a style="color: white; cursor: pointer;" data-toggle="collapse" href="#7">Do I need passes to attend ProShows/Competitions/Informal/Concert Events?</a>
<br><p id="7" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Mood Indigo will provide you with a booklet and a band as soon as you enter the campus which has to be collected from the registration desk at the main gate. This Booklet and band will act as a pass to all the events other than concerts for non-accommodation holders.
For accommodation holders, Mood Indigo will provide you with a separate booklet and a band and they will act as a pass to all the events including concerts.</p>
<br>
<a style="color: white; cursor: pointer;" data-toggle="collapse" href="#8">Are the concert passes paid? When and where are passes distributed?</a>
<br><p id="8" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>Passes are free and need to be collected from the Hospitality Desk, Student Activity Center (SAC). The distribution of passes begins at 10 AM. The distribution of passes shall be on a first come first serve basis.</p>
<br>
<a style="color: white; cursor: pointer;" data-toggle="collapse" href="#9">I am currently studying at IITB, how do I get a concert pass?</a>
<br><p id="9" class="collapse" data-parent="#accordion" style="font-weight: normal;" align=justify>A student of IIT Bombay doesn't need a concert pass for himself/herself. They will get direct entry on producing their IITB ID cards at the entry.
IITB students get an extra guest pass from Hospitality Desk, Student Activity Center (SAC) from 10 AM issued on their ID card.</p>
<br>
</div>
