<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/fnb/Asset%2042@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/fnb/Asset%2042@2x.png">
    <p class="contdet">+91-7757859256</p>
    <p class="contdet">kshitijpatkar@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/kshitij.patkar" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/kshitijpatkar" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://twitter.com/KshitijPatkar?s=09" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://instagram.com/khane_wala_account?igshid=ewzw0g0r3w94" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
