<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/horizons/Asset%2037@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/horizons/Asset%2039@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/horizons/Asset%2040@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/horizons/Asset%2037@2x.png">
    <p class="contdet">+91-7004814400</p>
    <p class="contdet">naman@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/namansureka.sureka" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/namansureka/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/horizons/Asset%2039@2x.png">
    <p class="contdet">+91-9892695180</p>
    <p class="contdet">atharvavk@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/atharvavk7498" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/atharva-k-67b321a7/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/horizons/Asset%2040@2x.png">
    <p class="contdet">+91-8102486646</p>
    <p class="contdet">purvai@moodi.org</p>
    <div class="contsocial">
      <a href="https://m.facebook.com/purvai.jajodia.3" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/purvai-jajodia-328615184" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
