<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/horizons/Asset%2037@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/horizons/Asset%2039@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/horizons/Asset%2040@2x.png">-->
<!--</div>-->
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/horizons/Asset%2037@2x.png">
    <p class="contdet">+91-7004814400</p>
    <p class="contdet">naman@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/horizons/Asset%2039@2x.png">
    <p class="contdet">+91-9892695180</p>
    <p class="contdet">atharvavk@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/horizons/Asset%2040@2x.png">
    <p class="contdet">+91-8102486646</p>
    <p class="contdet">purvai@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
</div>
