.main_content {
  /* display:inline-block; */
  width: 50%;
  position: relative;
  top: -70px;
  float: right;
  /* margin-left: 40%; */
  /* margin-top: 0%; */
  margin-right: 15%;
  font-family: Poppins;
  /* top: 95%; */
  /* margin-top: -10%; */
  max-height: 40%;
  /* height: 40%; */
  color: white;
  font-size: 15px;
  /*display: block;*/
  justify-content: center;
  text-align: center;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* z-index: 1; */
  /* float: right; */
  /* background-color: azure;     */

}

.main_content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.contactcont {
  width: 50%;
  display: inline-block;
}

.contsocial {
  display: inline-block;
  opacity: 0;
  padding: 1%;
  position: relative;
  top: -230px;
}
.contsocial img {
  width: 20%;
  padding: 2%;
}
.contaditya:hover {
  background-color: white;
  border-radius: 50%;
}

.contdet {
  opacity: 0;
  position: relative;
  top: -240px;
  color: black;
}
.contdet:hover {
  color: white;
}

.contactimg {
  width: 90%;
  transition: 0.5s ease;
  cursor: pointer;
}
.contactcont:hover .contactimg{
  opacity: 0.2;
}
.contactcont:hover .contdet{
  opacity: 1;
}
.contactcont:hover .contsocial{
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .main_content {
    width: 100%;
    float: none;
    text-align: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
  }
  .contactcont .contsocial {
    opacity: 1;
    position: relative;
    top: -130px;
  }
  .contactcont .contdet {
    opacity: 1;
    position: relative;
    top: -140px;
  }
  .contactcont .contactimg {
    opacity: 0.3;
  }
}
