<ul class="main_content">
    <li><b> Online charges for accommodation will be out soon<br></b>
    <i>*For maximum of 5 days i.e. from 25th - 29th December 2019 irrespective of duration fo stay. Food is not included.</i></li>
  <li><b>In exceptional circumstances the refund amount may be forfeited subject to one or more of the following conditions:
  <li>Permanent damage has been done to the room/dorm/accessories where accommodation has been provided.
      <ol type="i"><li>Rooms are not vacated before 30th December 9:00am</li>
  <li>The payment will be done through the online portal whose link will be given to all the people allotted accommodation in the IIT Bombay Campus</li></ol></li>
<li>Deadline for selecting contingent is in the month of November and for online payment is last week of November</li>
<li>Refund has to be collected from accommodation desk, between 9 AM to 1PM. No refund will be provided after that. Mood Indigo is not liable to refund the amount in case of any mistake made by the person paying the amount</li></b>
</ul>
