<div style="overflow: hidden"  class="full-color">
  <div>
  <img src="../../../assets/Events/page layout elements_events outer page/Asset 31withbg (1).png" class="bg1">
  <a routerLink="/">
    <img src="../../../assets/logos/Asset 33eventbglogo.svg" class="logo">  
  </a>
  </div>
  <div>
  <div class="container">
    <div class="cont"  style=" padding: 89px; margin-top: -43px; text-align: center;">
      Keep yourself updated with the official social media handles of Mood Indigo to know about all major events happening this year! 

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      
    </div>
  </div>
  </div>

  <img src="../../../assets/Events/page%20layout%20elements_events%20outer%20page/Asset%2022lap.png" class="bg2">
  </div>
