<div class="bg1">
  <img src="../../assets/acco/Asset 26.png" class="bg2">

  <img src="../../assets/acco/Asset 23.png" class="bg3">
  
  
  <img src="../../assets/acco/Asset 25.png" class="bg4">

  <h1 class="main_heading">Accommodation</h1>

  <router-outlet></router-outlet>

  <div class="btn_group">
    <a routerLink="reach us">REACH US</a><br>
    <a routerLink="prizes & lyps">PRIZES & LYPS</a><br>
    <a routerLink="faq">FAQ</a><br>
    <a routerLink="register">REGISTER</a><br>
    <a routerLink="previous winners">PREVIOUS WINNERS</a><br>
  </div>
  
  
</div>