




<img src="../../assets/acco/Asset 23.png" class="bg1">

<!-- <div class="top-color"></div> -->
<!-- <div class="full-color"></div> -->
<div >

  <br><br><br><br><br>

  <h1 class="headr"><b>Accommodation</b></h1>

  <br><br><br><br><br>
<div class="container">


  <router-outlet></router-outlet>

  <div class="btn_group">
    <a routerLink="reach us">REACH US</a><br>
    <a routerLink="prizes & lyps">PRIZES & LYPS</a><br>
    <a routerLink="faq">FAQ</a><br>
    <a routerLink="register">REGISTER</a><br>
    <a routerLink="previous winners">PREVIOUS WINNERS</a><br>
  </div>



  </div>

</div>
<img src="../../assets/compi/Asset 13Selected.png" class="bg2">