<div style="overflow: hidden" class="full-color">
<img src="../../assets/acco/Asset 29withbg.png" class="bg3">



<div class="bg1"></div>
  <!-- <img src="../../assets/acco/Asset 26.png" class="bg2"> -->
  <div>
  <br><br><br><br><br><br><br><br>


  <h1 class="main_heading">Accommodation</h1>
    <div class="mobileoptions">
      
      <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
      <a routerLinkActive="active_button" routerLink="reach us">
        <button>General</button>
      </a>
    </a>
    </div>
      </div>

      <div class="section">
        <div class="section__item">
          <a class="sm-link sm-link_padding-bottom sm-link3">
      <a routerLinkActive="active_button" routerLink="prizes & lyps">
        <button>How To Avail</button>
      </a>
    </a>
  </div>
    </div>

      <div class="section">
        <div class="section__item">
          <a class="sm-link sm-link_padding-bottom sm-link3">
      <a routerLinkActive="active_button" routerLink="faq">
        <button>All About CL</button>
      </a>
    </a>
  </div>
    </div>

      <div class="section">
        <div class="section__item">
          <a class="sm-link sm-link_padding-bottom sm-link3">
      <a routerLinkActive="active_button" routerLink="register">
        <button>Charges</button>
      </a>
    </a>
  </div>
    </div>

      <div class="section">
        <div class="section__item">
          <a class="sm-link sm-link_padding-bottom sm-link3">
      <a routerLinkActive="active_button" routerLink="previous winners">
        <button>Privileges</button>
      </a>
    </a>
  </div>
    </div>
      <div class="section">
        <div class="section__item">
          <a class="sm-link sm-link_padding-bottom sm-link3">
            <a routerLinkActive="active_button" routerLink="sixth">
              <button>FAQs</button>
            </a>
          </a>
        </div>
      </div>
    </div>
  <router-outlet></router-outlet>

    <div class="options">
  <div class="btn_group">
  <div class="section">
      <div class="section__item">
        <a class="sm-link sm-link_padding-bottom sm-link3">
            
                <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="reach us">General</p>
              
        </a>
      </div>
    </div>
  </div>
  <div class="btn_group">
      <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
                <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="prizes & lyps">How To Avail</p>
            </a>
          </div>
        </div>
      </div>


      <div class="btn_group">
          <div class="section">
              <div class="section__item">
                <a class="sm-link sm-link_padding-bottom sm-link3">
                    <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="faq">All About CL</p>
                </a>
              </div>
            </div>
          </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
              <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="register">Charges</p>
            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
              <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="previous winners">Privileges</p>
            </a>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <div class="section">
          <div class="section__item">
            <a class="sm-link sm-link_padding-bottom sm-link3">
              <p style="margin-bottom: 0; outline: 0;" routerLinkActive="active_button" routerLink="sixth">FAQs</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  
  <!-- </div> -->
  
</div>

<img src="../../assets/acco/Asset 25lap.png" class="bg4">
</div>
