.main_content {
    /* display:inline-block; */
    width: 50%;
    position: relative;
    float: right;
    /* margin-left: 40%; */
    /* margin-top: 0%; */
    margin-right: 20%;

    /* top: 95%; */
    /* margin-top: -10%; */
    max-height: 40%;
    /* height: 40%; */
    color: white;
    font-size: 15px;
    display: block;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;  
    /* font-weight: bold; */
    font-family: 'Poppins', sans-serif;

    /* z-index: 1; */
    /* float: right; */
    /* background-color: azure;     */

}

.main_content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media screen and (max-width: 800px) {
  .main_content {
    width: 100%;
    float: none;
    text-align: center;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
  }
}
