<div style="overflow: hidden"  class="full-color">
  <img src="../../../assets/reg/Asset%2031withbg.png" class="bg1">
  
  <div>
  
    <br><br><br><br><br>
  <div class="container">
    <div style="text-align: center;">
      <h1 style="font-family: Welcome; font-size: 180px; top: 120px; width: 100%; color: white;">Register</h1>
    </div>
    
    <div style="align-self: center; text-align: center;">
      <p style=" margin: 10%; top: 250px;">
        <button routerLink="form">Login/Register</button><br>
        <samp style="color: white;">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
        </samp>
      </p>
    </div>
    
  </div>
  </div>

  <img src="../../assets/reg/Asset 28.png" class="bg2">
  </div>