
.bg1 {
  z-index: -3;
  width:100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.bg2 {
  width:100%;
  /*position: absolute;*/
  /*top: 90%;*/
  left: 0px;
  /*clip: rect(0px,1290px,200px,0px);*/
  /* overflow: hidden;    */
  /* max-height: 120px; */

}

.full-color{
background-color:  	#AF32FF;
position: absolute;
/* height:100vh; */
top:0;

 right:0;
 left:0;


 z-index: -150;
}


.container{
  /* margin-left: 180px; */
  position: relative;
  text-align: center;
}

.headr{
  margin-top: -10%;
  font-family: Welcome;
  font-size: 175px;
  color: white;
  position: relative;
  text-align: center;
}

div.gallery img {
  width: 80%;
  height: auto;
}

div.desc {
  text-align: center;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 30px 30px;
  float: left;
  width: 25%;
  /* margin-left: 40px; */
}
.btn{
    /* left:0px; */
    /* position:absolute; */
    /* text-align: center; */
    font-size: 20px;
    font-family: Verdana;
    /* margin-top: 225px; */
    /* margin-left: 250px; */

    border: solid #AF32FF!important;
    border-width: 0 2px;

    background-color: white;
    cursor: pointer;
    width:auto;
    padding: 0.3em 1.9em;
    border-radius: 2em;
    outline: none !important;
    margin-bottom: 1.8em;     
}
.logo{
  width: 13%;
  height: auto;
  position: relative;
  margin-top: 3%;
  margin-left: 4%;
}
@media screen and (max-width: 600px){
  .headr {
    margin-top: 14%;
    font-size: 75px;
  }
  .logo{
    display: none
  }
}
