<div class="bg1" style="align-content: center;">
  <div style="z-index: 1;"><img src="../../../assets/reg/Asset%2030.png" style="width: 100%; margin-top: 20px; z-index: 1;"></div>
  <div style="background-color: #AF32FF; margin-top: -33%"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
  <div style="z-index: 2"><img src="../../../assets/reg/Asset%2028.png" style="width: 100%; z-index: 2; margin-top: -15%;"></div>
  <div style="text-align: center;">
    <h1 style="font-family: Welcome; font-size: 180px; position: absolute; top: 120px; width: 100%; color: white;">Register</h1>
  </div>

  <div style="align-self: center; text-align: center;">
    <p style=" margin: 10%; position: absolute; top: 250px;">
      <button routerLink="form">Login/Register</button><br>
      <samp style="color: white;">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
      </samp>
    </p>
  </div>
</div>
