<div style="overflow: hidden"  class="full-color">
  <img src="../../../assets/reg/Asset%2031withbg.png" class="bg1">

  <div>
  <div class="container">
    <div style="text-align: center;">
      <h1 class="headr">Register</h1>
    </div>

    <div style="align-self: center; text-align: center;">
      <p style="font-family: 'Poppins', sans-serif; margin: 10%; top: 250px; margin-top: 0;">
        <span *ngIf="!status">
        <button  id="button" class="btn" style="color:	#AF32FF" >Login/Register</button><br>
        </span>
      <span *ngIf="status">
          <button (click)="profile()" class="btn"  >Profile</button><br>
      </span>
        <samp style="font-family: 'Poppins', sans-serif; width: 50%; color:white;font-weight:bold; ">
          <br><br><br><br><br><br>
          Once your registration is complete, you will receive a unique MI number which is essential for participation or entry to all the activities going on during Mood Indigo.<br>
          If you want to register for a competition or accommodation or collect concert passes against your college ID, you’ll need to have an MI number. Your MI number is the key to the best things the festival has to offer!          
        </samp>
      </p>
    </div>
  </div>
  </div>

  <img src="../../../assets/reg/Asset 28lap.png" class="bg2">
  </div>
