<div class="background" >
  <div>
<img class="laptop" src="../../assets/home/homepage top scenery ka background.svg" style="width: 100%; margin-top: 40px; height: 95%; position: relative; bottom: 0;">
<img class="mobile" src="../../assets/home/Asset 76.svg" style="width: 100%; height: 95%; position: relative; bottom: 0;">
  
<img class="logo laptop" src="../../assets/logos/Asset 69homebglogo.svg">
</div>
<!-- <img src="../../assets/Asset 6Selected.png" class="toprighti"> -->
<!-- <img src="../../assets/Asset 7Selected.png" class="topcenteri"> -->

<div>
<img  src="../../assets/home/scenery1.svg" class="bottomi1">

<div class="bottomi3" id='bm'></div>

<div class="bottomi4" id='bm4'></div>

<div class="bottomi5" id='bm5'></div>

<div class="bottomibc" id='bmbc'></div>
<div class="bottomisc mobile" id='bmsc'></div>

</div>


<!-- <div style="overflow-x: hidden" class="globe">
    <div class="bird">
      <div class="cloud"><img src="../../assets/Asset 6Selected.png" class="toprighti"></div>
      <div class="cloud small">
          <img src="../../assets/Asset 7Selected.png" class="topcenteri"></div>
      <div class="balloon">
        <img src="../../assets/Asset 5Selected.png" class="hairbi">
      </div>

        </div>


  </div> -->
  

<img src="../../assets/Asset 8Selected.png" class="bottomi2">


<div style="position: relative">
<h1 class="topleft"><b>About Us</b></h1>

<div class="about">
    
  <div class="aboutusp">
    <div style="z-index: 1">
      Mood Indigo, Asia's largest college cultural festival, has developed over the years into so much more: a melting pot of Indian and global culture, a launchpad for upcoming artists, a spectacular showcase of talent, an epitome of incredible human experience: where you can never see it all, but what you do see lasts a lifetime, where friendships are born and memories are made amidst the gleam of several bonfires as the nights intensify.<br>
      Our mission is to bring along all of you and invigorate you with extreme amounts of pure happiness and ecstacy, and also serve as an escape from all the bitterness in our lives.<br>
      This is what drives us into our 49th edition this year!<br>
      Embrace yourself for another cultural extravaganza: join us this year from 26th December- 29th December at Mood Indigo!      
    </div>
      <div style="z-index: 0" class="anim2 laptop" id='bm2'></div>
  </div>
  
</div>
<div style="position: relative;background-color: #f5a1af">
<img src="../../assets/home/SVG/stats bus and back (2).svg" class="statsbegin">

<p align=center style="font-family: 'Poppins', sans-serif;" class="stats">
  <span style=" font-size: 120px; line-height: 170px"><b>Stats</b></span><br>
  <span style="font-family: 'Staatliches', cursive; line-height: 100px"><span style="font-size: 65px">230+</span> EVENTS<br><span style="font-size: 65px">143k+</span> Footfall<br><span style="font-size: 65px">220+</span> International Artists<br><span style="font-size: 65px">1700+</span> Participating Colleges<br>
    <!-- <span style="font-size: 10px">Nominated for “Best Relationship with Fans”<br>by FestX along with Coachella</span> -->
  </span><br>
</p>

</div>

<!--==================== Theme Area ========================-->
<div style="background-color: #caf8f9" class="themediv">
  <!-- <img src="../../assets/Asset 17Selected.png" width="100%"> -->

<h1 class="themehead"><b>THEME</b></h1>
<img src="../../assets/home/theme/SVG/theme.svg" class="themei">
<p class="themep">
    <br><br><br>
    “Music is what feelings sound like.”<br>
    “Music reflects something profound about who we are and our experience of the world.”<br>
    “Music is an incredible vehicle for expressing emotions and capturing our internal experience of life.”<br>
    In a world full of chaos, Mood Indigo 2019 strives to bring along all of you and invigorate you with extreme amounts of pure happiness and ecstacy, and also serve as an escape from all the bitterness that life hands down to all of us. We promise you an incredible experience filled with love, happiness and thrill while you live the best 4 days of your lives!<br>
    And nothing's better than a ballad: a sentimental song with a story to tell, to describe the incredible human experience that Mood Indigo 2019 promises to provide.<br>
    <b>Presenting, Mood Indigo 2019: A Ballad of Ecstacy.</b>
    
    <br><br><br><br><br><br><br><br><br>
</p>
</div>

<!-- ========================= footer Area ======================= -->
<div class="footer" >
  <img style="background-color: #caf8f9" src="../../assets/home/social cause/footer/2x/Asset 45theme.png" class="footeri">
  <div style="background-color: #B0FE76; width: 100%; height:60vmax; position: relative;">
  <div class="footerleftdiv">
    <h1 class="footerheadleft">REGISTER</h1>
    <h1 class="footerheadleft">LEARN MORE</h1>
    <h1 class="footerleft">EVENTS</h1>
    <h1 class="footerleft">COMPETITIONS</h1>
    <h1 class="footerleft">ACCOMMODATION</h1>
    <h1 class="footerheadleft">SOCIAL MEDIA</h1>
    <h1 class="footerleft">FACEBOOK</h1>
    <h1 class="footerleft">TWITTER</h1>
    <h1 class="footerleft">LINKEDIN</h1>
    <h1 class="footerleft">YOUTUBE</h1>
    <!-- <img src="../../assets/fb.png" class="footersm"> -->
    <h1 class="footerleft">SNAPCHAT</h1>
    <!-- <img src="../../assets/tw.png" class="footersm"> -->
    <!-- <img src="../../assets/link.png" class="footersm"> -->
    <div></div>
    <!-- <img src="../../assets/insta.png" class="footersm" style="padding-left: 10px"> -->
    <!-- <img src="../../assets/yt.png" class="footersm"> -->
  </div>
  <div style="overflow: hidden"  class="footerrightdiv">
    <h1 class="footerheadright">SUPPORT</h1>
    <h1 class="footerright">CONTACT US</h1>
    <h1 class="footerright">FAQ</h1>
    <h1 class="footerright">ACCOMMODATION</h1>
    <h1 class="footerheadright">JOIN US</h1>
    <h1 class="footerright">COLLEGE CONNECT PROGRAM</h1>
    <h1 class="footerright">INDIGO ART PROJECT</h1>
  </div>
</div>
</div>
</div>
<div style="background-color: #caf8f9">
<h1>Theme</h1>

</div>
</div>
<!-- <div id='bm'></div> -->