<div class="background">
    <img src="assets/Asset 1Selected.png" style="width: 100%; margin-top: 40px; height: 95%; position: relative; bottom: 0;">
    <div class="collapse navbar-collapse" id="myNavbar">
          
      <ul class="nav navbar-nav navbar-right" style="position: absolute; top: 40px; right: 15px;">
        
            <li><a class="button1" routerLink="accommodation"><b>ACCOMMODATION</b></a></li>
            <li><a class="button1" routerLink="registration"><b>REGISTRATION</b></a></li>
            <li><a class="button1" routerLink="events"><b>EVENTS</b></a></li>
            <li><a class="button1" routerLink="competition"><b>COMPETITIONS</b></a></li>
            <li><a class="button1" routerLink="faqs"><b>FAQs</b></a></li>
            <li><a class="button1" routerLink="sponsors"><b>SPONSORS</b></a></li>
            <li><a style="margin-right: 25px" class="button1" routerLink="contact"><b>CONTACT US</b></a></li>
        
      </ul>
    </div>
</div>
<img src="assets/Asset 6Selected.png" class="toprighti">
<img src="assets/Asset 7Selected.png" class="topcenteri">
<img src="assets/Asset 5Selected.png" class="hairbi">

<div id="btm1">
    <img src="assets/Asset 2Selected.png" class="bottomi1">
</div>

<img src="assets/Asset 8Selected.png" class="bottomi2">
<!-- <h1 class="topleft"><b>ABOUT US</b></h1> -->
<div style="background-color: rgb(236, 160, 171); position: relative; top: 10%; display: inline-block;">
  <p class="aboutusp">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam asperiores laudantium possimus doloribus dolor maiores animi eius sed tempora mollitia quos voluptas, temporibus fugit est recusandae. Dicta dolorem amet asperiores?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque temporibus, aliquam aliquid repellat nisi? Ullam voluptatem architecto sunt cum laboriosam natus ratione provident vel earum, reprehenderit enim minus fuga?
  </p>
  <img src="assets/Asset 9Selected.png" class="aboutusi">
<img src="assets/Asset 11Selected.png" class="statsbegin">
<img src="assets/Asset 16Selected.png" class="statsleft">
<img src="assets/Asset 15Selected.png" class="statsbus">
<img src="assets/Asset 17Selected.png" class="theme">
<h1 class="themehead"><b>THEME</b></h1>
<img src="assets/Asset 9Selected.png" class="themei">
<p class="themep">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolorum quod itaque repudiandae accusamus quibusdam, ratione cum voluptatum ad, voluptates error perspiciatis, enim nihil iure! Incidunt qui sunt temporibus rem.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid illum odio debitis a necessitatibus inventore porro beatae repudiandae sint esse modi, rem id sit accusamus aliquam aperiam quaerat labore eligendi?
</p>
</div>
