<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/marki/Asset%2056@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/marki/Asset%2057@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/marki/Asset%2058@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/marki/Asset%2056@2x.png">
    <p class="contdet">+91-7087031800</p>
    <p class="contdet">mukul@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/mukul278" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/mukul-goyal-636100158/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/marki/Asset%2057@2x.png">
    <p class="contdet">+91-8825220312</p>
    <p class="contdet">sidhant@moodi.org</p>
    <div class="contsocial">
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/marki/Asset%2058@2x.png">
    <p class="contdet">+91-9773295045</p>
    <p class="contdet">dhruv@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/dhruv.desai.3538" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/dhruv-desai-3b2a6441" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
