<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/creatives/Asset%2047@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/creatives/Asset%2048@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/creatives/Asset%2051@2x.png">-->
<!--</div>-->
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/creatives/Asset%2047@2x.png">
    <p class="contdet">+91-8115618738</p>
    <p class="contdet">prabhat@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/prabhat7758"><img class="contaditya" src="../../../assets/fb.png"></a>
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/creatives/Asset%2048@2x.png">
    <p class="contdet">+91-9930974019</p>
    <p class="contdet">shashank@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/creatives/Asset%2051@2x.png">
    <p class="contdet">+91-7086578188</p>
    <p class="contdet">daya@moodi.org</p>
    <div class="contsocial">
      <img class="contaditya" src="../../../assets/fb.png">
      <img class="contaditya" src="../../../assets/insta.png">
    </div>
  </div>
</div>
