<!--<div class="main_content">-->
<!--  <img class="contactimg" src="../../../assets/contact/creatives/Asset%2047@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/creatives/Asset%2048@2x.png">-->
<!--  <img class="contactimg" src="../../../assets/contact/creatives/Asset%2051@2x.png">-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main_content">
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/creatives/Asset%2047@2x.png">
    <p class="contdet">+91-8115618738</p>
    <p class="contdet">prabhat@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/prabhat7758" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/prabhat7758" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://twitter.com/prabhat7758" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/creatives/Asset%2048@2x.png">
    <p class="contdet">+91-9930974019</p>
    <p class="contdet">shashank@moodi.org</p>
    <div class="contsocial">
      <a href="https://www.facebook.com/shashu2506" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/shashank-raut-desai-a92800148" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://twitter.com/clumsymass64" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="contactcont">
    <img class="contactimg" src="../../../assets/contact/creatives/Asset%2051@2x.png">
    <p class="contdet">+91-7086578188</p>
    <p class="contdet">daya@moodi.org</p>
    <div class="contsocial">
      <a href="https://m.facebook.com/dayamay.paul" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://www.linkedin.com/in/dayamay-paul-818980158" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      &nbsp;
      &nbsp;
      <a href="https://twitter.com/pauldayamay" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</div>
