<link href="../../assets/bootstrap.css" rel="stylesheet">

<div style="overflow: hidden"  class="full-color" style="scroll-behavior: smooth;">

  <img src="../../assets/sponsor/Asset 32.png" class="bg1">

  <div>
    <br><br>
    <div class="container">
      <div style="text-align: center;">
        <h1 style="font-family: Welcome; font-size: 180px;margin-top: 100px; width: 100%; color: black;">Sponsors</h1>
      </div>

      <div class="btn-group" >
        <a class="nav-link" href="#events">
          <button class="raise">EVENTS</button>
        </a>
        <a class="nav-link" href="sponsors/#food">
          <button class="raise">FOOD</button>
        </a>
        <a class="nav-link" href="">
          <button class="raise">FOOD INSTAGRAMMERS</button>
        </a>
        <a class="nav-link" href="">
          <button class="raise">LYP</button>
        </a>
        <a class="nav-link" href="">
          <button class="raise">AMBIANCE</button>
        </a>
      </div>

      <br><br>

      <section id="partners">
        <div class="container">
          <div class="row">
            <div class="icon col-12 portfolio-item">
              <a class="portfolio-link" href="https://www.snapchat.com/" target="_blank">
                <img class="img-fluid" src="../../assets/sponsor-img/snapchat.png" alt="Snapchat">
              </a>
              <div class="portfolio-caption">
                <h4>Snapchat</h4>
                <p class="text-muted">Title Sponsor</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.nivea.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/nivea-men.png" alt="Nivea">
              </a>
              <div class="portfolio-caption">
                <h4>Nivea</h4>
                <p class="text-muted">Powered By</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="http://www.ucweb.com/ucbrowser/download/android.html" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/uc-browser.png" alt="UC Browser">
              </a>
              <div class="portfolio-caption">
                <h4>UC Browser</h4>
                <p class="text-muted">Co-Sponsored By</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://hindustantimes.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/hindustan-times.png" alt="Hindustan Times">
              </a>
              <div class="portfolio-caption">
                <h4>Hindustan Times</h4>
                <p class="text-muted">in Association with</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.onlinesbi.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/sbi.png" alt="SBI" style="height: 50%;">
              </a>
              <div class="portfolio-caption">
                <h4>SBI</h4>
                <p class="text-muted">Banking Partner</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="http://www.r-elan.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/r-elan.png" alt="R-Elan">
              </a>
              <div class="portfolio-caption">
                <h4>R-Elan</h4>
                <p class="text-muted">Earth Style Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.arcticfox.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/arctic-fox.png" alt="Arctic Fox">
              </a>
              <div class="portfolio-caption">
                <h4>Arctic Fox</h4>
                <p class="text-muted">Backpack Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.gshock.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/g-shock.png" alt="G-Shock">
              </a>
              <div class="portfolio-caption">
                <h4>G-Shock</h4>
                <p class="text-muted">Time Partner</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="events">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Events Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/kfc.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>KFC</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/kiabza.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Kiabza</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/ktm.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>KTM</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/kvic.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>KVIC</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/kwikmint.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Kwik Mint</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/letsplay.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Let's Play</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/liva.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Liva</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/loacker.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Loacker</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/mandarin-oak.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Mandarin Oak</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/manforce.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Manforce</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/mirchi.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Radio Mirchi</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/mom.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Meal of the Moment</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/mongini.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Monginis</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/monster.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Monster</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/mt.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Maharashtrian Times</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/mumbai-foodie.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Mumbai Foodie</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/munchy-mumbai.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Munchy Mumbai</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/my-new-car.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>MyNewCar</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/nature-valley.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Nature Valley</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/nbt.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Navbharat Times</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/nivea.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Nivea</h4>
                <p class="text-muted">Event Associate</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="food">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Food Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/FOOD/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="food-insta">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Food Instagrammers</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/FOOD INSTAGRAMMERS/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="lyp">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Live Your Passion Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/LYP/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="ambiance">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Ambiance Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/AMBIANCE/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>

  <img src="../../assets/sponsor/Asset 34lap.png" class="bg2">
</div>
