<link href="../../assets/bootstrap.css" rel="stylesheet">

<div style="overflow: hidden"  class="full-color">

  <img src="../../assets/sponsor/Asset 32.png" class="bg1">

  <div>
    <br><br>
    <div class="container">
      <div style="text-align: center;">
        <h1>Sponsors</h1>
      </div>

      <div class="btn-group" >
        <a onclick="myFunction()" class="nav-link" href="sponsors#events" target="_self">
          <button class="raise">EVENTS</button>
        </a>
        <a onclick="myFunction()" class="nav-link" href="sponsors#food" target="_self">
          <button class="raise">FOOD</button>
        </a>
        <a onclick="myFunction()" class="nav-link" href="sponsors#food-insta" target="_parent">
          <button class="raise">FOOD INSTAGRAMMERS</button>
        </a>
        <a onclick="myFunction()" class="nav-link" href="sponsors#lyp">
          <button class="raise">LYP</button>
        </a>
        <a onclick="myFunction()" class="nav-link" href="sponsors#ambiance">
          <button class="raise">AMBIANCE</button>
        </a>
      </div>

      <br><br>

      <section id="partners">
        <div class="container">
          <div class="row">
            <div class="icon col-12 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <img class="img-fluid" src="../../assets/sponsor-img/prime-video.jpeg" alt="Prime Video">
              </a>
              <div class="portfolio-caption">
                <h4>Prime Video</h4>
                <p class="text-muted">Title Sponsor</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/nivea.png" alt="Nivea">
              </a>
              <div class="portfolio-caption">
                <h4>Nivea</h4>
                <p class="text-muted">Powered By</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/nestle.png" alt="Nestle">
              </a>
              <div class="portfolio-caption">
                <h4>Nestle</h4>
                <p class="text-muted">Powered By</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/realme.png" alt="Realme">
              </a>
              <div class="portfolio-caption">
                <h4>Realme</h4>
                <p class="text-muted">Powered By</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/coke-studio.jpg" alt="Coke Studio">
              </a>
              <div class="portfolio-caption">
                <h4>Coke Studio</h4>
                <p class="text-muted">Powered By</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="bit.ly/36XvTkH" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/poker-stars.png" alt="PokerStars">
              </a>
              <div class="portfolio-caption">
                <h4>PokerStars</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/sophos.png" alt="Sophos">
              </a>
              <div class="portfolio-caption">
                <h4>Sophos</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/snacatac.jpg" alt="Snacatac">
              </a>
              <div class="portfolio-caption">
                <h4>Snacatac</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/toshiba-audio.png" alt="Toshiba Audio">
              </a>
              <div class="portfolio-caption">
                <h4>Toshiba Audio</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/blued.jpeg" alt="Blued">
              </a>
              <div class="portfolio-caption">
                <h4>Blued</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/tinder.jpeg" alt="Tinder">
              </a>
              <div class="portfolio-caption">
                <h4>Tinder</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/motherland.png" alt="Motherland">
              </a>
              <div class="portfolio-caption">
                <h4>Motherland</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/anglo-eastern.jpg" alt="Anglo Eastern">
              </a>
              <div class="portfolio-caption">
                <h4>Anglo Eastern</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/skore.png" alt="Skore">
              </a>
              <div class="portfolio-caption">
                <h4>Skore</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/motul.jpg" alt="Motul">
              </a>
              <div class="portfolio-caption">
                <h4>Motul</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/ims.png" alt="IMS">
              </a>
              <div class="portfolio-caption">
                <h4>IMS</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/design-boat.jpeg" alt="Design Boat">
              </a>
              <div class="portfolio-caption">
                <h4>Design Boat</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/verzeo.png" alt="Verzeo">
              </a>
              <div class="portfolio-caption">
                <h4>Verzeo</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/kross-bikes.jpg" alt="Kross Bikes">
              </a>
              <div class="portfolio-caption">
                <h4>Kross Bikes</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/saraswat.png" alt="Saraswat">
              </a>
              <div class="portfolio-caption">
                <h4>Saraswat</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/bragpacker.png" alt="Bragpacker">
              </a>
              <div class="portfolio-caption">
                <h4>Bragpacker</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyla-blanc.png" alt="Lyla Blanc">
              </a>
              <div class="portfolio-caption">
                <h4>Lyla Blanc</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/peta.png" alt="PETA">
              </a>
              <div class="portfolio-caption">
                <h4>PETA</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/fitternity.png" alt="Fitternity">
              </a>
              <div class="portfolio-caption">
                <h4>Fitternity</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/max.jpg  " alt="Max">
              </a>
              <div class="portfolio-caption">
                <h4>Max</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/canara.png" alt="Canara">
              </a>
              <div class="portfolio-caption">
                <h4>Canara</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/byogi.png" alt="BYogi">
              </a>
              <div class="portfolio-caption">
                <h4>BYogi</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="events">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Events Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="food">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Food Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/FOOD/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="food-insta">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Food Instagrammers</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/FOOD INSTAGRAMMERS/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="lyp">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Live Your Passion Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/LYP/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="ambiance">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Ambiance Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/AMBIANCE/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>

  <img src="../../assets/sponsor/Asset 34lap.png" class="bg2">
</div>
