<link href="../../assets/bootstrap.css" rel="stylesheet">

<div style="overflow: hidden"  class="full-color">

  <img src="../../assets/sponsor/Asset 32.png" class="bg1">

  <div>
    <br><br>
    <div class="container">
      <div style="text-align: center;">
        <h1 class="main_heading">Sponsors</h1>
      </div>

      <div class="btn-group" >
        <a onclick="myFunction()" class="nav-link" href="sponsors#events" target="_self">
          <button class="raise">EVENTS</button>
        </a>
        <a onclick="myFunction()" class="nav-link" href="sponsors#food" target="_self">
          <button class="raise">FOOD</button>
        </a>
        <a onclick="myFunction()" class="nav-link" href="sponsors#food-insta" target="_parent">
          <button class="raise">FOOD INSTAGRAMMERS</button>
        </a>
        <a onclick="myFunction()" class="nav-link" href="sponsors#lyp">
          <button class="raise">LYP</button>
        </a>
        <a onclick="myFunction()" class="nav-link" href="sponsors#ambiance">
          <button class="raise">AMBIANCE</button>
        </a>
      </div>

      <br><br>

      <section id="partners">
        <div class="container">
          <div class="row">
            <div class="icon col-12 portfolio-item">
              <a class="portfolio-link" href="https://www.primevideo.com/" target="_blank">
                <img class="img-fluid" src="../../assets/sponsor-img/prime-video.png" alt="Prime Video">
              </a>
              <div class="portfolio-caption">
                <h4>Prime Video</h4>
                <p class="text-muted">Title Sponsor</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.nivea.in/" target="_blank">
                <div class="helper"></div>
                <img id="nivea" class="img-fluid" src="../../assets/sponsor-img/nivea.png" alt="Nivea">
              </a>
              <div class="portfolio-caption">
                <h4>Nivea</h4>
                <p class="text-muted">Associate Title Sponsor</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.nestle.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/nestle.png" alt="Nestle">
              </a>
              <div class="portfolio-caption">
                <h4>Nestle</h4>
                <p class="text-muted">Co-Title Sponsor</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.realme.com/in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/Asset 11.png" alt="Realme">
              </a>
              <div class="portfolio-caption">
                <h4>Realme</h4>
                <p class="text-muted">Co-Title Sponsor</p>
              </div>
            </div>
            <div class="icon col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.coca-colaindia.com/" target="_blank">
                <div class="helper"></div>
                <img id="coke-studio" class="img-fluid" src="../../assets/sponsor-img/coke-studio.png" alt="Coke Studio">
              </a>
              <div class="portfolio-caption">
                <h4>Coke Studio</h4>
                <p class="text-muted">Title Sponsor of Fusion Nite</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.sophos.com/en-us.aspx" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/sophos.png" alt="Sophos">
              </a>
              <div class="portfolio-caption">
                <h4>Sophos</h4>
                <p class="text-muted">Internet Security Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://snacatac.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/snacatac.png" alt="Snacatac">
              </a>
              <div class="portfolio-caption">
                <h4>Snacatac</h4>
                <p class="text-muted">Snacking Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://in.toshibaaudio.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/toshiba-audio.png" alt="Toshiba Audio">
              </a>
              <div class="portfolio-caption">
                <h4>Toshiba Audio</h4>
                <p class="text-muted">Audio Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://bluedindia.com/blued-mood-indigo-2019/?utm_source=Moodi%20Website&utm_medium=Sponsor%20page&utm_campaign=BluedXMID19" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/Blued.png" alt="Blued">
              </a>
              <div class="portfolio-caption">
                <h4>Blued</h4>
                <p class="text-muted">Gay Dating Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.relaxofootwear.com/sparx/Default.aspx" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/sparx.png" alt="Sparx">
              </a>
              <div class="portfolio-caption">
                <h4>Sparx</h4>
                <p class="text-muted">Footwear Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href=" https://poker.pokerstars.in/?utm_source=IITBombay_website" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/poker-stars.png" alt="PokerStars">
              </a>
              <div class="portfolio-caption">
                <h4>PokerStars</h4>
                <p class="text-muted">Poker Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.maxfashion.in/in/en/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/max.png" alt="Max Fashion">
              </a>
              <div class="portfolio-caption">
                <h4>Max Fashion</h4>
                <p class="text-muted">Fashion Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.fitternity.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/fitternity.png" alt="Fitternity">
              </a>
              <div class="portfolio-caption">
                <h4>Fitternity</h4>
                <p class="text-muted">Grooming Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://byogi.store/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/byogi.png" alt="BYogi">
              </a>
              <div class="portfolio-caption">
                <h4>BYogi</h4>
                <p class="text-muted">Merchandise Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.lylablanc.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyla-blanc.png" alt="Lyla Blanc">
              </a>
              <div class="portfolio-caption">
                <h4>Lyla Blanc</h4>
                <p class="text-muted">Fragrance Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.motul.com/in/en" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/motul.png" alt="Motul">
              </a>
              <div class="portfolio-caption">
                <h4>Motul</h4>
                <p class="text-muted">Performance Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.imsindia.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/ims.png" alt="IMS Learning">
              </a>
              <div class="portfolio-caption">
                <h4>IMS Learning</h4>
                <p class="text-muted">Co-Title Sponsor of Literary Arts</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.designboatschool.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/design-boat.jpeg" alt="Design Boat">
              </a>
              <div class="portfolio-caption">
                <h4>Design Boat</h4>
                <p class="text-muted">Co-Title Sponsor of Digital and Design Arts</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://verzeo.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/verzeo.png" alt="Verzeo">
              </a>
              <div class="portfolio-caption">
                <h4>Verzeo</h4>
                <p class="text-muted">Internship Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.krossbikes.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/output-onlinepngtools (2).png" alt="Kross Bikes">
              </a>
              <div class="portfolio-caption">
                <h4>Kross Bikes</h4>
                <p class="text-muted">Cycles Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.saraswatbank.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/saraswat.png" alt="Saraswat">
              </a>
              <div class="portfolio-caption">
                <h4>Saraswat</h4>
                <p class="text-muted">Banking Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/bragpacker.png" alt="Bragpacker">
              </a>
              <div class="portfolio-caption">
                <h4>Bragpacker</h4>
                <p class="text-muted">Travel Gear Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/swiss-beauty.png" alt="Swiss Beauty">
              </a>
              <div class="portfolio-caption">
                <h4>Swiss Beauty</h4>
                <p class="text-muted">Cosmetics Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.petaindia.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/peta.png" alt="PETA">
              </a>
              <div class="portfolio-caption">
                <h4>PETA</h4>
                <p class="text-muted">Animal Rights Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://tinder.com/?lang=en" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/tinder.jpeg" alt="Tinder">
              </a>
              <div class="portfolio-caption">
                <h4>Tinder</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.canarabank.com/english/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/canara.png" alt="Canara">
              </a>
              <div class="portfolio-caption">
                <h4>Canara</h4>
                <p class="text-muted">Banking Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.artis.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/artis.png" alt="Artis">
              </a>
              <div class="portfolio-caption">
                <h4>Artis</h4>
                <p class="text-muted">Gadgets Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.skorecondoms.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/skore.png" alt="Skore">
              </a>
              <div class="portfolio-caption">
                <h4>Skore</h4>
                <p class="text-muted">Co-Title Sponsor of International Music Festival</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/witness-fashion.png" alt="Witness Fashion">
              </a>
              <div class="portfolio-caption">
                <h4>Witness Fashion</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sarcose.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/sarcose.png" alt="Sarcose">
              </a>
              <div class="portfolio-caption">
                <h4>Sarcose</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/tshirt-kar.png" alt="TShirt Kar">
              </a>
              <div class="portfolio-caption">
                <h4>TShirt Kar</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <!-- <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="sponsors" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/tshirt-kar.png" alt="TShirt Kar">
              </a>
              <div class="portfolio-caption">
                <h4>Modart</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div> -->
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.taglr.com/information/contactus" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/Print Taglr Logo_with tagline.png" alt="Tagir">
              </a>
              <div class="portfolio-caption">
                <h4>Taglr</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="http://www.perfettivanmelle.in/ourbrands/happydent/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/Happydent Logo-01.png" alt="Anglo Eastern">
              </a>
              <div class="portfolio-caption">
                <h4>Happydent</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.angloeasterncollege.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/anglo-eastern.png" alt="Anglo Eastern">
              </a>
              <div class="portfolio-caption">
                <h4>Anglo Eastern</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.facebook.com/GOCHOCOIND/?ref=py_c" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/Go Choco Logo.png" alt="Anglo Eastern">
              </a>
              <div class="portfolio-caption">
                <h4>Go Choco</h4>
                <p class="text-muted">Food Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://pearlacademy.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/Pearl Logo Thickness Revised 28th Sept.png" alt="Modart">
              </a>
              <div class="portfolio-caption">
                <h4>Pearl Academy</h4>
                <p class="text-muted">Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.facebook.com/GOCHOCOIND/?ref=py_c" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/Screenshot (27).png" alt="Anglo Eastern">
              </a>
              <div class="portfolio-caption">
                <h4>Amazon Pay</h4>
                <p class="text-muted">Scan and Pay using Amazon</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="events">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Events Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/EVENTS/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="food">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Food Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.facebook.com/thepaanstory1/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/paan.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>The Paan Story</h4>
                <p class="text-muted">Paan Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.facebook.com/thebombayfries/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/bombayfries.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>The Bombay Fries</h4>
                <p class="text-muted">Fries Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.zomato.com/mumbai/hunger-foodzz-kurla" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/hf.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Vadapav and Burger</h4>
                <p class="text-muted">Vadapav and Burger Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="http://newyorkburrito.co.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/ny burrito.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>NYB</h4>
                <p class="text-muted">Mexican Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.zomato.com/mumbai/bombay-bayleaf-1-veera-desai-area" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/bayleaf.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Bombay Bayleaf</h4>
                <p class="text-muted">Meals Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="www.wingreensfarms.com" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/wingreens.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Wingreens</h4>
                <p class="text-muted">Chip N Dip Partner</p>
              </div>
            </div>
            <!-- <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.dinshaws.co.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/dinshaws.tif" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Dinshaw's</h4>
                <p class="text-muted">Ice Cream Partner</p>
              </div> 
            </div>-->
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://box8.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/box8.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Box8</h4>
                <p class="text-muted">Box Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.zomato.com/mumbai/chocohollics-powai" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/Chocohollics Logo.PNG" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Chocohollics</h4>
                <p class="text-muted">Cake Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://londonbubbleco.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/food/Screenshot (36).png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>London Bubble Co</h4>
                <p class="text-muted">Waffle Partner</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="food-insta">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Food Instagrammers</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/FOOD INSTAGRAMMERS/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="lyp">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Live Your Passion Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.youtube.com/channel/UCdxbhKxr8pyWTx1ExCSmJRw/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/girliyapa.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Girliyapa</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/Woman's Era.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Women's Era</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="http://www.jiffindia.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/logo_jiff_png.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Jaipur International Film Festival</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.ajivasan.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/ajivasan.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Ajivasan Music Academy</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.nrityashakti.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/5542.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Nrityashakti</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="http://www.indiaartfestival.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/IAF Logo 2013_cc.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>India Art Festival</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.youtube.com/channel/UCqddQRq9NEI2Jcu3LIYK5jg" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/spill logo.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Spill Poetry</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.youtube.com/user/humaramovie" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/HM-Logo-Square.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Humaramovie</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.ritambanerjee.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/rb.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Ritam Banerjee</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="http://www.artistaloud.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/artist aloud.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Hungama's Artist Aloud</h4>
                <p class="text-muted">Digital Distribution Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://www.pfaindia.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/PFA_Logo-04.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Platform For Artists</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://atkt.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/ATKT-eng.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>ATKT</h4>
                <p class="text-muted">LYP and Media Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://indiafilmproject.co/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/IFP logo.jpg" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Indian Film Project</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://kalakaar.kukufm.com/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/Kuku FM Logo 002.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Kuku FM</h4>
                <p class="text-muted">LYP Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://oneiros.co.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/oneiros logo.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Oneiros</h4>
                <p class="text-muted">Multicity Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://pec.ac.in/events/pecfest-2019" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/pecfest logo.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>PECFest</h4>
                <p class="text-muted">Multicity Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="http://www.aarohiworld.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/aarohi logo.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Aarohi</h4>
                <p class="text-muted">Multicity Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/The Artilution Logo Black.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Artilution Events</h4>
                <p class="text-muted">Multicity Partner</p>
              </div>
            </div>
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://effe.org.in/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/lyp/effervescence logo.png" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>Effervescence</h4>
                <p class="text-muted">Multicity Partner</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="ambiance">
        <div class="container">
          <div class="row">
            <div class="icon col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Ambiance Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="icon col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="https://sponsors.moodi.org/" target="_blank">
                <div class="helper"></div>
                <img class="img-fluid" src="../../assets/sponsor-img/AMBIANCE/" alt="">
              </a>
              <div class="portfolio-caption">
                <h4></h4>
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>

  <img src="../../assets/sponsor/Asset 34lap.png" class="bg2">
</div>
