.main_heading{
  z-index: -1;
  margin-top: 7.5vw;
  font-family: Welcome;
  font-size: 175px;
  color: black;
  position: relative;
  text-align: center;
}
.bg1 {
  z-index: -3;
  width:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #BAC8C9;
  padding-top:4.5vw;
}

.bg2 {
  z-index: -1;
  width:100%;
  /* position: absolute; */
  /* bottom: 0px; */
  left: 0px;
  /* clip: rect(0,0, 100,0); */
  /* overflow: hidden;    */
  /* max-height: 120px; */
}

.full-color {
  background-color:#F4F4F4;
  position: absolute;
  top:0;

  right:0;
  left:0;

  z-index: -150;
}

/* .container h1 {
  font-family: Welcome;
  font-size: 180px;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  color: black;
} */

.container {
  position: relative;
  text-align: center;
}

.headr {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  top: 90px;
  color: white;
  position: relative;
  text-align: center;
}

div.desc {
  text-align: center;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 30px 30px;
  float: left;
  width: 25%;
}

  /* *************************************************************************************************************** */
.back {
  height:100%;
	width:100%;
	z-index:-3;
	position:fixed;
	background:orange;
	left:0;
  top:0;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.back::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* 
.icon {
  width: 20%;
  height: 35%;
  text-align: center;
} */

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.icon img {
  width: 70%;
  height: auto;
}

.icon img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width: 600px) {
  .btn-group button{
    font-size: 16px;
  }
  .main_heading{
    z-index: -1;
    margin-top: 7vw;
    font-family: Welcome;
    font-size: 26vw;
    color: black;
    position: relative;
    text-align: center;
  }
}

.btn-group {
  z-index: 5;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.btn-group button {
  background-color: transparent;
  border: 0px;
  color: black;
  cursor: pointer;
  width:auto;
  font-size: 200%;
  padding: 0.3em 01em;
  border-radius: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  outline: none !important;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.raise {
  --color: #fff;
  --hover: #fff;
}

button {
  color: var(--color);
  transition: 0.25s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

.portfolio-item {
  right: 0;
  margin: 0 0 15px;
  text-align: center;
}

.portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  height: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.portfolio-item .portfolio-link img {
  max-height: 90%;
}

.portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

.portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

.portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #F4F4F4;
}

.portfolio-item .portfolio-caption h4 {
  margin-top: -2vw;
  text-transform: none;
  font-family: Poppins;
  font-size: 18px;
}

.portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: Poppins;
}

#portfolio * {
  z-index: 2;
}

.title {
  max-width: 800px;
}

@media (min-width: 767px) {
  .portfolio-item {
    margin: 0 0 30px;
  }
}

section {
  padding: 50px 0;
}

section h2.section-heading {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

#nivea {
  width: 50%;
  height: auto;
}

#coke-studio {
  width: 50%;
  height: auto;
}
